<section class="design-inspires">
  <div class="container design-inspires__inner">
    <h2 class="design-inspires__heading">Design Inspires</h2>
    <p class="design-inspires__subtitle">Build your dream workspace, so you can get your best work done.</p>
    <a class="design-inspires__link-get-started" href="">GET STARTED</a>
    <ul class="design-inspires__list designs list-reset">
      <li class="designs__item">
        <img class="designs__img" src="../img/Design Inspires/DesignInspires_2.jpg" alt="">
        <h3 class="designs__title">Desk Pads</h3>
        <a class="designs__link-more" href="">LEARN MORE</a>
      </li>
      <li class="designs__item">
        <img class="designs__img" src="../img/Design Inspires/DesignInspires_1.jpg" alt="">
        <h3 class="designs__title">Laptop Stands</h3>
        <a class="designs__link-more" href="">LEARN MORE</a>
      </li>
    </ul>
  </div>
</section>
