<section class="featured-products">
  <div class="container featured-products__inner swiper-container">
    <h2 class="featured-products__heading">Featured Products</h2>
    <p class="featured-products__subtitle">See What’s Trending Right Now</p>
    <div class="featured-products__pagination pagination">
    </div>
    <div class="swiper-wrapper featured-products__slide ">
      <div class="swiper-slide">
        <ul class="featured-products__list list-reset ">
          <li class="featured-products__item product">
            <img src="../img/Featured Products/FeaturedProducts.jpg" alt="" class="product__img">
            <p class="product__desc">Walnut MagSafe Stand</p>
            <p class="product__price">$120</p>
          </li>
          <li class="featured-products__item product">
            <img src="../img/Featured Products/FeaturedProducts_2.jpg" alt="" class="product__img">
            <p class="product__desc">Walnut Laptop Riser</p>
            <p class="product__price">$150</p>
          </li>
          <li class="featured-products__item product">
            <img src="../img/Featured Products/FeaturedProducts_3.jpg" alt="" class="product__img">
            <p class="product__desc">Walnut iPad Stand</p>
            <p class="product__price">$80</p>
          </li>
          <li class="featured-products__item product">
            <img src="../img/Featured Products/FeaturedProducts_4.jpg" alt="" class="product__img">
            <p class="product__desc">Walnut Monitor Stand</p>
            <p class="product__price">$100</p>
          </li>
        </ul>
      </div>
      <div class="swiper-slide">
        <ul class="featured-products__list list-reset ">
          <li class="featured-products__item product">
            <img src="../img/Featured Products/FeaturedProducts.jpg" alt="" class="product__img">
            <p class="product__desc">Walnut MagSafe Stand</p>
            <p class="product__price">$120</p>
          </li>
          <li class="featured-products__item product">
            <img src="../img/Featured Products/FeaturedProducts_2.jpg" alt="" class="product__img">
            <p class="product__desc">Walnut Laptop Riser</p>
            <p class="product__price">$150</p>
          </li>
          <li class="featured-products__item product">
            <img src="../img/Featured Products/FeaturedProducts_3.jpg" alt="" class="product__img">
            <p class="product__desc">Walnut iPad Stand</p>
            <p class="product__price">$80</p>
          </li>
          <li class="featured-products__item product">
            <img src="../img/Featured Products/FeaturedProducts_4.jpg" alt="" class="product__img">
            <p class="product__desc">Walnut Monitor Stand</p>
            <p class="product__price">$100</p>
          </li>
        </ul>
      </div>
      <div class="swiper-slide">
        <ul class="featured-products__list list-reset ">
          <li class="featured-products__item product">
            <img src="../img/Featured Products/FeaturedProducts.jpg" alt="" class="product__img">
            <p class="product__desc">Walnut MagSafe Stand</p>
            <p class="product__price">$120</p>
          </li>
          <li class="featured-products__item product">
            <img src="../img/Featured Products/FeaturedProducts_2.jpg" alt="" class="product__img">
            <p class="product__desc">Walnut Laptop Riser</p>
            <p class="product__price">$150</p>
          </li>
          <li class="featured-products__item product">
            <img src="../img/Featured Products/FeaturedProducts_3.jpg" alt="" class="product__img">
            <p class="product__desc">Walnut iPad Stand</p>
            <p class="product__price">$80</p>
          </li>
          <li class="featured-products__item product">
            <img src="../img/Featured Products/FeaturedProducts_4.jpg" alt="" class="product__img">
            <p class="product__desc">Walnut Monitor Stand</p>
            <p class="product__price">$100</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
