<footer class="footer">
  <div class="footer__bg">
    <div class="container footer__inner">
      <div class="footer__top">
        <nav class="footer__nav">
          <ul class="footer__list list-reset">
            <li class="footer__item"><a href="#">Shop</a></li>
            <li class="footer__item"><a href="#">About</a></li>
            <li class="footer__item"><a href="#">Journal</a></li>
            <li class="footer__item"><a href="#">Support</a></li>
            <li class="footer__item"><a href="#"></a>COVID-19 Info</li>
            <li class="footer__item"><a href="#">Order Status</a></li>
            <li class="footer__item"><a href="#">Corporate Sales</a></li>
          </ul>
        </nav>
        <div class="footer__signup signup">
          <h3 class="signup__title">Newsletter Signup</h3>
          <p class="signup__subtitle">Sign up to our Newsletter to hear about new product releases, learn about our
            design
            process, and everything else going on behind the scenes at Grovemade.</p>
          <span class="signup__line"></span>
        </div>
        <div class="footer__scroll-up scroll">
          <p class="scroll__text">GO UP</p>
        </div>
      </div>
      <div class="footer__bottom">
        <ul class="footer__privacy privacy list-reset">
          <li class="privacy__item">©2020 Grovemade</li>
          <li class="privacy__item">Terms & Conditions</li>
          <li class="privacy__item">Privacy Policy</li>
          <li class="privacy__item privacy__item--black">Site by Department</li>
        </ul>
      </div>
    </div>
  </div>

</footer>
