<header class="header">
  <div class="container header__inner">
    <nav class="header__nav nav">
      <ul class="nav__list list-reset">
        <li class="nav__item"><a href="" class="nav__link">Shop</a></li>
        <li class="nav__item"><a href="" class="nav__link">Explore</a></li>
      </ul>
    </nav>
    <div class="header__logo logo">
      <img class="logo__icon" src="./img/Header/Logo.png" alt="">
    </div>
    <div class="header__login login">
      <a class="login__link" href="">My Cart</a>
    </div>
  </div>
</header>
