<section class="made-the-hard-way">
  <div class="container made-the-hard-way__inner">
    <h2 class="made-the-hard-way__heding">Made The Hard Way</h2>
    <p class="made-the-hard-way__subtitle">Our signature craftsmanship has been honed over a decade of manufacturing
      innovation here in Portland, Oregon. We combine the skills of our small in-house team with the collective strength
      of collaborators throughout the US to deliver quality products worth investing in.</p>
    <img class="made-the-hard-way__img" src="../img/Made The Hard Way/MadeTheHard Way.jpg" alt="">
  </div>
</section>
