<section class="make-mork-meaningful">
  <div class="container make-mork-meaningful__inner">
    <h2 class="make-mork-meaningful__heading">Make Work Meaningful</h2>
    <p class="make-mork-meaningful__subtitle">We're here because we believe that your work deserves the best. A team
      that loves working together is the magic that makes it all happen.</p>
    <ul class="make-mork-meaningful__list list-reset">
      <li class="make-mork-meaningful__item">
        <img src="../img/Make Work Meaningful/MakeWorkMeaningful_1.jpg" alt="">
      </li>
      <li class="make-mork-meaningful__item">
        <img src="../img/Make Work Meaningful/MakeWorkMeaningful_2.jpg" alt="">
      </li>
      <li class="make-mork-meaningful__item">
        <img src="../img/Make Work Meaningful/MakeWorkMeaningful_3.jpg" alt="">
      </li>
      <li class="make-mork-meaningful__item">
        <img src="../img/Make Work Meaningful/MakeWorkMeaningful_4.jpg" alt="">
      </li>
      <li class="make-mork-meaningful__item">
        <img src="../img/Make Work Meaningful/MakeWorkMeaningful_5.jpg" alt="">
      </li>
      <li class="make-mork-meaningful__item">
        <img src="../img/Make Work Meaningful/MakeWorkMeaningful_6.jpg" alt="">
      </li>
      <li class="make-mork-meaningful__item">
        <img src="../img/Make Work Meaningful/MakeWorkMeaningful_7.jpg" alt="">
      </li>
      <li class="make-mork-meaningful__item">
        <img src="../img/Make Work Meaningful/MakeWorkMeaningful_8.jpg" alt="">
      </li>
      <li class="make-mork-meaningful__item">
        <img src="../img/Make Work Meaningful/MakeWorkMeaningful_9.jpg" alt="">
      </li>
      <li class="make-mork-meaningful__item">
        <img src="../img/Make Work Meaningful/MakeWorkMeaningful_10.jpg" alt="">
      </li>
      <li class="make-mork-meaningful__item">
        <img src="../img/Make Work Meaningful/MakeWorkMeaningful_11.jpg" alt="">
      </li>
      <li class="make-mork-meaningful__item">
        <img src="../img/Make Work Meaningful/MakeWorkMeaningful_12.jpg" alt="">
      </li>
      <li class="make-mork-meaningful__item">
        <img src="../img/Make Work Meaningful/MakeWorkMeaningful_13.jpg" alt="">
      </li>
      <li class="make-mork-meaningful__item">
        <img src="../img/Make Work Meaningful/MakeWorkMeaningful_14.jpg" alt="">
      </li>
      <li class="make-mork-meaningful__item">
        <img src="../img/Make Work Meaningful/MakeWorkMeaningful_15.jpg" alt="">
      </li>
      <li class="make-mork-meaningful__item">
        <img src="../img/Make Work Meaningful/MakeWorkMeaningful_16.jpg" alt="">
      </li>
      <li class="make-mork-meaningful__item">
        <img src="../img/Make Work Meaningful/MakeWorkMeaningful_17.jpg" alt="">
      </li>
      <li class="make-mork-meaningful__item">
        <img src="../img/Make Work Meaningful/MakeWorkMeaningful_18.jpg" alt="">
      </li>
      <li class="make-mork-meaningful__item">
        <img src="../img/Make Work Meaningful/MakeWorkMeaningful_19.jpg" alt="">
      </li>
      <li class="make-mork-meaningful__item">
        <img src="../img/Make Work Meaningful/MakeWorkMeaningful_20.jpg" alt="">
      </li>
      <li class="make-mork-meaningful__item">
        <img src="../img/Make Work Meaningful/MakeWorkMeaningful_21.jpg" alt="">
      </li>
      <li class="make-mork-meaningful__item">
        <img src="../img/Make Work Meaningful/MakeWorkMeaningful_22.jpg" alt="">
      </li>
      <li class="make-mork-meaningful__item">
        <img src="../img/Make Work Meaningful/MakeWorkMeaningful_23.jpg" alt="">
      </li>
      <li class="make-mork-meaningful__item">
        <img src="../img/Make Work Meaningful/MakeWorkMeaningful_24.jpg" alt="">
      </li>
    </ul>
  </div>
</section>
