<section class="we-hope-you-join">
  <div class="we-hope-you-join__inner container">
    <h2 class="we-hope-you-join__heading">We Hope You'll Join Us</h2>
    <a class="we-hope-you-join__link-more" href="#">READ MORE ABOUT OUR STORY</a>
    <div class="we-hope-you-join__design new-design">
      <img class="new-design__logo" src="../img/We Hope You'll Join Us/logo.png" alt="">
      <h3 class="new-design__title">Design Inspires</h3>
      <p class="new-design__subtitle">Build your dream workspace, so you can get your best work done.</p>
    </div>
  </div>
</section>
