<section class="aboutus">
  <div class="container aboutus__inner">
    <h2 class="aboutus__heading heading">
      О нас
    </h2>
    <p class="aboutus__desc"> Также как перспективное планирование создаёт необходимость включения в производственный
      план целого ряда внеочередных мероприятий с учётом комплекса экспериментов, поражающих по своей масштабности и
      грандиозности. А также диаграммы связей могут быть описаны максимально подробно. Мы вынуждены отталкиваться от
      того, что убеждённость некоторых оппонентов требует от нас анализа как самодостаточных, так и внешне зависимых
      концептуальных решений! Следует отметить, что высококачественный прототип <span
        class="aboutus__icon">будущего</span>
      проекта предопределяет высокую востребованность позиций, занимаемых
      участниками в отношении поставленных задач. Мы вынуждены отталкиваться от того, что высококачественный
      прототип будущего проекта способствует повышению качества экспериментов. </p>
    <div class="aboutus__content">
      <div class="aboutus__left">
        <div class="aboutus__left-desc">
          <p class="aboutus__left-text"> Принимая во внимание показатели успешности, перспективное планирование
            способствует подготовке и реализации новых принципов. </p>
          <button class="aboutus__left-btn" type="submit">
            Подробнее
          </button>
        </div>
      </div>
      <div class="aboutus__right">
        <ul class="aboutus__right-list list-reset">
          <li class="aboutus__right-item aboutus__right-item--1">
            <p class="aboutus__right-heading">Консультация с широким активом</p>
            <p class="aboutus__right-text">А также свежий взгляд на привычные вещи - безусловно открывает новые
              горизонты для как самодостаточных, так и внешне зависимых концептуальных решений.</p>
          </li>
          <li class="aboutus__right-item aboutus__right-item--2">
            <p class="aboutus__right-heading">В своём стремлении повысить</p>
            <p class="aboutus__right-text">Качество жизни, они забывают, что сплочённость команды профессионалов
              представляет собой интересный эксперимент проверки прогресса профессионального сообщества.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
