<footer class="footer">
  <div class="footer__bg">
    <div class="container footer__inner">
      <div class="footer__left">
        <img class="footer__logo" src="img/footer/LOGO-footer.png" alt="Логотип евклид">
        <ul class="footer__list list-reset">
          <li class="footer__item"><a class="footer__link" href="#">О нас</a></li>
          <li class="footer__item"><a class="footer__link" href="#">Проекты</a></li>
          <li class="footer__item"><a class="footer__link" href="#">Отзывы</a></li>
          <li class="footer__item"><a class="footer__link" href="#">Договор оферты</a></li>
          <li class="footer__item"><a class="footer__link" href="#">Договор подряда</a></li>
          <li class="footer__item"><a class="footer__link" href="#">Конфиденциальность</a></li>
          <li class="footer__item"><a class="footer__link" href="#">Партнёрское соглашение</a></li>
        </ul>
        <ul class="footer__social social list-reset">
          <li class="social__item">
            <a class="social__link" href="" aria-label="Ссылка на facebook">
              <svg class="social__icon">
                <use xlink:href=" img/sprite.svg#fb"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="" aria-label="Ссылка на Вконтакте">
              <svg class="social__icon">
                <use xlink:href=" img/sprite.svg#vk"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="" aria-label="Ссылка на Вконтакте">
              <svg class="social__icon">
                <use xlink:href=" img/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__center">
        <form class="footer__form request" action="https://jsonplaceholder.typicode.com/posts" method="POST">
          <h3 class="request__heading">Оставить заявку</h3>
          <label class="request__label">
            <span class="visually-hidden">Введите Фамилию, имя и отчество</span>
            <input class="request__input" type="text" name="Full Name" required placeholder="Фамилия, имя и отчество*">
          </label>
          <label class="request__label">
            <span class="visually-hidden">Введите электронную почту</span>
            <input class="request__input" type="email" name="mail" required placeholder="E-mail*">
          </label>
          <label class="request__label">
            <span class="visually-hidden">Введите сообщение</span>
            <textarea class="request__textarea" name="message" required placeholder="Сообщение"></textarea>
          </label>
          <div class="request__agree agree">
            <button tabindex="1" class="agree__btn button" type="submit">
              Отправить данные
            </button>
            <label tabindex="0" class="agree__label">
              <input class="agree__checkbox" type="checkbox" required value="Согласен на обработку данных">
              <span>Согласен на обработку данных</span>
            </label>
          </div>
        </form>
      </div>
      <div class="footer__right">
        <p class="footer__right-text">Высокий уровень вовлечения представителей целевой аудитории является четким
          доказательством простого факта: разбавленное изрядной долей эмпатии, рациональное мышление позволяет оценить
          значение модели развития. Таким образом, консультация с широким активом обеспечивает широкому кругу
          (специалистов) участие в формировании стандартных подходов. </p>
      </div>
    </div>
  </div>
</footer>
