<header class="header">
  <div class="header__bg">
    <div class="container header__container">
      <button id="burger" class="header__burger burger" aria-label="Открыть меню">
        <span class="burger__line burger-line--1"></span>
        <span class="burger__line burger-line--2"></span>
        <span class="burger__line burger-line--3"></span>
      </button>
      <img class="header__logo" src="img/header/LOGO.png" alt="Логотип евклид">
      <div class="header__right">
        <nav id="menu" class="header__nav nav">
          <ul class="nav__list list-reset">
            <li class="nav__item"><a class="nav__link" href="">О нас</a></li>
            <li class="nav__item"><a class="nav__link" href="">Проекты</a></li>
            <li class="nav__item"><a class="nav__link" href="">Этапы</a></li>
            <li class="nav__item"><a class="nav__link" href="">Отзывы</a></li>
            <li class="nav__item"><a class="nav__link" href="">Контакты</a></li>
          </ul>
        </nav>
        <button class="header__search search" href="" aria-label="Поиск по сайту">
          <span class="search__icon"></span>
        </button>
        <form class="header__form form-search" action="">
          <input class="form-search__input" type="text" placeholder="Что будем искать?">
          <a href="#" class="form-search__icon"></a>
          <a href="#" class="form-search__close"></a>
        </form>
      </div>
    </div>
  </div>
</header>
