<section class="hero">
  <div class="container hero__inner">
    <div class="swiper-container hero__swiper">
      <div class="hero__banner banner">
        <h2 class="banner__heading">
          Проектные решения любой сложности
        </h2>
        <p class="banner__text"> Есть над чем задуматься: базовые сценарии поведения пользователей и по сей день
          остаются уделом проектантов </p>
        <button class="banner__btn button" type="submit">
          Заказать расчёт
        </button>
      </div>
      <div class="swiper-wrapper hero__slides">
        <div class="swiper-slide hero__slide hero__slide--1"></div>
        <div class="swiper-slide hero__slide hero__slide--2"></div>
        <div class="swiper-slide hero__slide hero__slide--3"></div>
      </div>
      <div class="swiper-pagination hero__pagination"></div>
    </div>
  </div>
</section>
