<section class="work">
  <div class="container work__inner">
    <h2 class="work__heading heading">Как мы работаем</h2>
    <div class="work__pagination"></div>
    <div class="work__swiper swiper-container">
      <div class="swiper-wrapper work__slides">
        <div class="work__slide swiper-slide">
          <div class="work__content">
            <div class="work__desc">
              <h3 class="work__title">Проводим консультацию</h3>
              <p class="work__text">Влечет за собой процесс внедрения и модернизации приоритизации разума над
                эмоциями. В рамках спецификации современных стандартов, некоторые особенности внутренней политики будут
                объективно рассмотрены соответствующими инстанциями. А также представители современных социальных
                резервов, инициированные исключительно синтетически, ограничены исключительно образом мышления. Являясь
                всего лишь частью общей картины, реплицированные с зарубежных источников, современные исследования
                подвергнуты целой серии независимых исследований. Кстати, стремящиеся вытеснить традиционное
                производство, нанотехнологии освещают чрезвычайно интересные особенности картины в целом, однако
                конкретные выводы, разумеется, призваны к ответу.</p>
            </div>
            <div class="work__btns">
              <a class="work__link work__link--more button" href="#">
                Подробнее
              </a>
              <a class="work__link work__link--contract" href="#">
                Договор
              </a>
            </div>
          </div>
          <picture class="work__img">
            <source media="(max-width: 370px)" srcset="img/work/320/work.jpg">
            <source media="(max-width: 768px)" srcset="img/work/768/work.jpg">
            <source media="(max-width: 1200px)" srcset="img/work/1024/work.jpg">
            <img class="lazy" src="img/work/work.jpg" alt="">
          </picture>
        </div>
        <div class="work__slide swiper-slide">
          <div class="work__content">
            <div class="work__desc">
              <h3 class="work__title">Составляем смету</h3>
              <p class="work__text">Внедрения и модернизации приоритизации разума над эмоциями. В рамках спецификации
                современных стандартов, некоторые особенности внутренней политики будут объективно рассмотрены
                соответствующими инстанциями. А также представители современных социальных резервов, инициированные
                исключительно синтетически, ограничены исключительно образом мышления. Являясь всего лишь частью общей
                картины, реплицированные с зарубежных источников, современные исследования подвергнуты целой серии
                независимых исследований.</p>
            </div>
          </div>
          <picture class="work__img">
            <source media="(max-width: 370px)" srcset="img/work/320/work.jpg">
            <source media="(max-width: 768px)" srcset="img/work/768/work.jpg">
            <source media="(max-width: 1200px)" srcset="img/work/1024/work.jpg">
            <img class="lazy" src="img/work/work-2.jpg" alt="">
          </picture>
        </div>
        <div class="work__slide swiper-slide">
          <div class="work__content">
            <div class="work__desc">
              <h3 class="work__title">Привлекаем подрядчиков</h3>
              <p class="work__text">Идейные соображения высшего порядка, а также новая модель организационной
                деятельности
                требует анализа прогресса профессионального сообщества. Высокий уровень вовлечения представителей
                целевой
                аудитории является четким доказательством простого факта: высококачественный прототип будущего проекта
                напрямую зависит от дальнейших направлений развития. Разнообразный и богатый опыт говорит нам, что новая
                модель организационной деятельности говорит о возможностях системы массового участия. Принимая во
                внимание
                показатели успешности, постоянное информационно-пропагандистское обеспечение нашей деятельности
                позволяет
                выполнить важные задания по разработке прогресса профессионального сообщества.</p>
            </div>
          </div>
          <picture class="work__img">
            <source media="(max-width: 370px)" srcset="img/work/320/work.jpg">
            <source media="(max-width: 768px)" srcset="img/work/768/work.jpg">
            <source media="(max-width: 1200px)" srcset="img/work/1024/work.jpg">
            <img class="lazy" src="img/work/work-3.jpg" alt="">
          </picture>
        </div>
        <div class="work__slide swiper-slide">
          <div class="work__content">
            <div class="work__desc">
              <h3 class="work__title">Инспектируем все этапы работ</h3>
              <p class="work__text">Высокий уровень вовлечения представителей целевой аудитории является четким
                доказательством простого факта: высококачественный прототип будущего проекта напрямую зависит от
                дальнейших
                направлений развития. Разнообразный и богатый опыт говорит нам, что новая модель организационной
                деятельности говорит о возможностях системы массового участия. Принимая во внимание показатели
                успешности,
                постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет.</p>
            </div>
          </div>
          <picture class="work__img">
            <source media="(max-width: 370px)" srcset="img/work/320/work.jpg">
            <source media="(max-width: 768px)" srcset="img/work/768/work.jpg">
            <source media="(max-width: 1200px)" srcset="img/work/1024/work.jpg">
            <img class="lazy" src="img/work/work-4.jpg" alt="">
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
