.form-request{

    &__title{
        margin-bottom: 3px;
        font-size: 24px;
        font-weight: 400;

        @include mobile{
            margin-bottom: 9px;
            font-size: 18px;
            line-height: 22px;
        }
    }

    &__desc{
        margin-bottom: 15px;
        color: #999999;
        line-height: 22px;

        @include mobile{
            line-height: 18px;
        }
    }

    &__label{
        position: relative;
    }

    &__input,
    &__textarea{
        width: 100%;
        padding: 15px 22px;
        border: 1px solid #E9E9E9;
        background-color: #E9E9E9;

        @include mobile{
            padding: 11px 22px;
        }
    }

    &__input{
        margin-bottom: 20px;
    }

    &__textarea{
        height: 150px;
        margin-bottom: 15px;
        resize: none;

        @include mobile{
            margin-bottom: 16px;
        }

    }
    
    
    &__input::placeholder,
    &__textarea::placeholder{
        color:#999999;
    }

    &__input:hover::placeholder,
    &__textarea:hover::placeholder{
        color: var(--color-hover);
    }

    &__input:focus,
    &__textarea:focus{
        border: 1px solid var(--color-hover);
    }


    &__btn{
        width: fit-content;
    }

    .js-validate-error-label{
        color: #FF3030 !important;
    }

    .js-validate-error-field{
        border: 1px solid #FF3030 !important;
        color: var(--color-black) !important;
    }

}