.form-search{

    &__btn{
      color: #E9E9E9;
      line-height: 0;

  
      @include desktop{
        margin-right: 2px;
      }

      @media (max-width:(1023px)) {
        margin-right: 0;
      }
    }
  
    &__icon{
      width: 25px;
      height: 25px;

      @media (max-width:(1023px)) {
        width: 40px;
        height: 40px;
      }

      @include mobile{
        width: 31px;
        height: 33px;
      }
    }
  
  
    &__input{
      position: relative;
      width: 170px;
      background-color: transparent;
      border-bottom: 1px solid #E9E9E9;
      color: #E9E9E9;
      font-size: 14px;
  
      @include desktop{
        width: 100%;
        font-size: 16px;
        line-height: 20px;
        transform: translate(0px, -4px);
      }

      @media (max-width:(1023px)) {
        display: none;
      }
    }
  
    &__input::placeholder{
      color: #E9E9E9;
      font-family: "TTFirsNeue",sans-serif;
      font-size: 14px;
      line-height: 1;
      font-weight: 400;

      @include desktop{
        letter-spacing: 0.9px;
      }
    }
  
    &__input:hover{
      border-bottom: 1px solid var(--color-hover);
    }
  
    &__input:focus{
      border-bottom: 1px solid var(--color-focus);
    }
  
    &__input:active{
      border-bottom: 1px solid var(--color-active);
    }
  }