.more-skills{

    
    &__item{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        @include desktop{
            grid-column: 1 span;
            gap: 30px;
        }
        
        @include tablet{
            grid-column: 1 span;
            grid-template-columns: repeat(4, 1fr);
        }

        @media (max-width:(750px)) {
            grid-column: 2 span;
        }

    }

    &__img{
        width: 80px;
        height: 60px;
        grid-column: 1 span;

        @include desktop{
            width: 94px;
            height: 71px;
            margin: 0;
        }

        @include tablet{
            width: 94px;
            height: 71px;
        }

        @media (max-width:(750px)) {
            justify-self: end;
        }
    }

    &__inner{
        align-self: center;
        grid-column: 3 span;
        transform: translate(-15px, 2px);

        @include desktop{
            transform: translate(0, 0);
        }

        @include tablet{
            grid-column: 3 span;
            transform: translate(0, 0);
        }

    }
    
    &__datatime{
        display: flex;
        margin-bottom: 4px;

        @include mobile{
            margin-bottom: 3px;
        }
    }

    &__date{
        margin-right: 19px;
        .date__icon{
            margin-right: 4px;
        }
        color: var(--color-white);
    }

    &__time{
        .time__icon{
            margin-right: 4px;
        }
    }

    &__title{
        font-size: 16px;
        font-weight: 400;
    }

}