<section class="events" id="events">
  <div class="container events__inner">
    <h2 class="events__heading heading">События</h2>
    <button class="events__button events__button--next btn-reset btn-swiper"
      aria-label="Переключить на следующий слайд"></button>
    <button class="events__button events__button--prev btn-reset btn-swiper"
      aria-label="Переключить на предыдущий слайд"></button>
    <div class="swiper events__swiper">
      <ul class="swiper-wrapper list-reset" title="Слайдер событий">
        <li class="swiper-slide events__slide">
          <picture class="events__img">
            <source media="(max-width: 576px)" srcset="img/events/events-1-320.webp" type="image/webp">
            <source media="(max-width: 576px)" srcset="img/events/events-1-320.jpg">
            <source media="(max-width: 768px)" srcset="img/events/events-1-768.webp" type="image/webp">
            <source media="(max-width: 768px)" srcset="img/events/events-1-768.jpg">
            <source media="(max-width: 1024px)" srcset="img/events/events-1-1024.webp" type="image/webp">
            <source media="(max-width: 1024px)" srcset="img/events/events-1-1024.jpg">
            <source srcset="img/events/events-1.webp" type="image/webp">
            <img loading="lazy" src="img/events/events-1.jpg" class="image" height="300" alt="Книжная гравюра">
          </picture>
          <div class="events__slide-container">
            <span class="events__subtitle"><span>Музей им. Щусева</span> с 20 марта по 30 апреля</span>
            <h3 class="events__title">Книжная гравюра в&nbsp; живом восприятии</h3>
            <p class="events__desc">Один из ведущих флорентийских художников Кватроченто, основатель художественной
              династии, которую продолжили его брат Давид и сын Ридольфо.</p>
            <a href="#" class="events__link bg-focus bg-focus--white-bg bg-focus--underline">Подробнее</a>
          </div>
        </li>
        <li class="swiper-slide events__slide">
          <picture class="events__img">
            <source media="(max-width: 576px)" srcset="img/events/events-2-320.webp" type="image/webp">
            <source media="(max-width: 576px)" srcset="img/events/events-2-320.jpg">
            <source media="(max-width: 768px)" srcset="img/events/events-2-768.webp" type="image/webp">
            <source media="(max-width: 768px)" srcset="img/events/events-2-768.jpg">
            <source media="(max-width: 1024px)" srcset="img/events/events-2-1024.webp" type="image/webp">
            <source media="(max-width: 1024px)" srcset="img/events/events-2-1024.jpg">
            <source srcset="img/events/events-2.webp" type="image/webp">
            <img loading="lazy" src="img/events/events-2.jpg" class="image" height="300"
              alt="«Открытая дискуссия». Дмитрий Петров и Сергей Ильин.">
          </picture>
          <div class="events__slide-container">
            <span class="events__subtitle"><span>ММОМА</span> 24 марта 19:00</span>
            <h3 class="events__title">«Открытая дискуссия». Дмитрий Петров и Сергей Ильин.</h3>
            <p class="events__desc">Высокий уровень вовлечения представителей целевой аудитории является четким
              доказательством простого факта.</p>
            <a href="#" class="events__link bg-focus bg-focus--white-bg bg-focus--underline">Подробнее</a>
          </div>
        </li>
        <li class="swiper-slide events__slide">
          <picture class="events__img">
            <source media="(max-width: 576px)" srcset="img/events/events-3-320.webp" type="image/webp">
            <source media="(max-width: 576px)" srcset="img/events/events-3-320.jpg">
            <source media="(max-width: 768px)" srcset="img/events/events-3-768.webp" type="image/webp">
            <source media="(max-width: 768px)" srcset="img/events/events-3-768.jpg">
            <source media="(max-width: 1024px)" srcset="img/events/events-3-1024.webp" type="image/webp">
            <source media="(max-width: 1024px)" srcset="img/events/events-3-1024.jpg">
            <source srcset="img/events/events-3.webp" type="image/webp">
            <img loading="lazy" src="img/events/events-3.jpg" class="image" height="300" alt="Еврейский музей">
          </picture>
          <div class="events__slide-container">
            <span class="events__subtitle"><span>Еврейский музей</span> с 31 марта по 21 апреля</span>
            <h3 class="events__title">Выставка «Формация 2020»</h3>
            <p class="events__desc">Идейные соображения высшего порядка, а также современная методология разработки
              играет
              важную роль в формировании глубокомысленных рассуждений.</p>
            <a href="#" class="events__link bg-focus bg-focus--white-bg bg-focus--underline">Подробнее</a>
          </div>
        </li>
        <li class="swiper-slide events__slide">
          <picture class="events__img">
            <source media="(max-width: 576px)" srcset="img/events/events-4-320.webp" type="image/webp">
            <source media="(max-width: 576px)" srcset="img/events/events-4-320.jpg">
            <source media="(max-width: 768px)" srcset="img/events/events-4-768.webp" type="image/webp">
            <source media="(max-width: 768px)" srcset="img/events/events-4-768.jpg">
            <source media="(max-width: 1024px)" srcset="img/events/events-4-1024.webp" type="image/webp">
            <source media="(max-width: 1024px)" srcset="img/events/events-4-1024.jpg">
            <source srcset="img/events/events-4.webp" type="image/webp">
            <img loading="lazy" src="img/events/events-4.jpg" class="image" height="300"
              alt="Фотографии из серии «Метафора серебра»">
          </picture>
          <div class="events__slide-container">
            <span class="events__subtitle"><span>ММАМ</span> с 8 апреля по 20 мая</span>
            <h3 class="events__title">Джон Винзор. Фотографии из&nbsp; серии «Метафора серебра»</h3>
            <p class="events__desc">Один из ведущих флорентийских художников Кватроченто, основатель художественной
              династии, которую продолжили его брат Давид и сын Ридольфо.</p>
            <a href="#" class="events__link bg-focus bg-focus--white-bg bg-focus--underline">Подробнее</a>
          </div>
        </li>
        <li class="swiper-slide events__slide">
          <picture class="events__img">
            <source media="(max-width: 576px)" srcset="img/events/events-5-320.webp" type="image/webp">
            <source media="(max-width: 576px)" srcset="img/events/events-5-320.jpg">
            <source media="(max-width: 768px)" srcset="img/events/events-5-768.webp" type="image/webp">
            <source media="(max-width: 768px)" srcset="img/events/events-5-768.jpg">
            <source media="(max-width: 1024px)" srcset="img/events/events-5-1024.webp" type="image/webp">
            <source media="(max-width: 1024px)" srcset="img/events/events-5-1024.jpg">
            <source srcset="img/events/events-5.webp" type="image/webp">
            <img loading="lazy" src="img/events/events-5.jpg" class="image" height="300"
              alt="Третьяковка на Крымском валу">
          </picture>
          <div class="events__slide-container">
            <span class="events__subtitle"><span>Третьяковка на Крымском валу</span> с 30 марта по 30 апреля</span>
            <h3 class="events__title">XXIV Международная биеннале молодого искусства</h3>
            <p class="events__desc">Внезапно, реплицированные с зарубежных источников, современные исследования.</p>
            <a href="#" class="events__link bg-focus bg-focus--white-bg bg-focus--underline">Подробнее</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="events__pagination"></div>
  </div>
</section>
