<footer class="footer">
  <div class="container footer__inner">
    <a href="#" class="footer__logo logo bg-focus" aria-label="Логотип сайта">
      <svg class="logo__icon">
        <use xlink:href="img/sprite.svg#Logo"></use>
      </svg>
    </a>
    <ul class="footer__social social list-reset" title="Социальные сети">
      <li class="social__item"><a href="#" target="_blank" class="social__link social__link--vk"
          aria-label="Наша страничка во Вконтакте">
          <svg class="social__icon">
            <use xlink:href="img/sprite.svg#social-vk"></use>
          </svg>
        </a>
      </li>
      <li class="social__item"><a href="#" target="_blank" class="social__link social__link--tw"
          aria-label="Наша страничка в Инстаграмме">
          <svg class="social__icon">
            <use xlink:href="img/sprite.svg#social-inst"></use>
          </svg>
        </a>
      </li>
      <li class="social__item"><a href="#" target="_blank" class="social__link social__link--fb"
          aria-label="Наша страничка в Фейсбуке">
          <svg class="social__icon">
            <use xlink:href="img/sprite.svg#social-fb"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
