<header class="header">
  <div class="header__inner">
    <div class="header__top">
      <div class="container header__top-inner">
        <div class="header__burger">
          <button class="burger icon-focus" aria-label="Открыть меню" aria-expanded="false" data-burger>
            <span class="burger__line"></span>
          </button>
        </div>
        <a href="#" class="header__logo logo bg-focus" aria-label="Логотип сайта">
          <svg class="logo__icon">
            <use xlink:href="img/sprite.svg#Logo" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events"
              baseProfile="full"></use>
          </svg>
        </a>
        <div class="header__menu" data-menu>
          <button class="header__close-menu btn-reset icon-focus" aria-label="Закрыть меню">
            <svg class="header__close-menu-icon">
              <use xlink:href="img/sprite.svg#headerSearchClose"></use>
            </svg>
          </button>
          <nav class="header__nav nav" title="Гланая навигация">
            <ul class="nav__list list-reset">
              <li class="nav__item"><a data-menu-item data-scroll href="#aboutus" class="nav__link bg-focus">О
                  нас</a>
              </li>
              <li class="nav__item"><a data-menu-item data-scroll href="#gallery" class="nav__link bg-focus">Галерея</a>
              </li>
              <li class="nav__item"><a data-menu-item data-scroll href="#catalog" class="nav__link bg-focus">Каталог</a>
              </li>
              <li class="nav__item"><a data-menu-item data-scroll href="#events" class="nav__link bg-focus">События</a>
              </li>
              <li class="nav__item"><a data-menu-item data-scroll href="#projects"
                  class="nav__link bg-focus">Проекты</a></li>
              <li class="nav__item"><a data-menu-item data-scroll href="#contacts"
                  class="nav__link bg-focus">Контакты</a></li>
            </ul>
          </nav>
          <a href="/" class="header__login login bg-focus btn-reset">
            <svg class="login__icon">
              <use xlink:href="img/sprite.svg#headerLogin"></use>
            </svg>
            <span class="login__text">Войти</span>
          </a>
        </div>
        <button class="header__open-search btn-reset icon-focus" type="button" aria-label="Открыть меню поиска">
          <svg class="header__open-search-icon">
            <use xlink:href="img/sprite.svg#headerSearch"></use>
          </svg>
        </button>
        <form class="header__search-top search-site">
          <button class="search-site__button search-site__button--search btn-reset icon-focus" type="submit"
            aria-label="Поиск по сайту">
            <svg class="search-site__icon">
              <use xlink:href="img/sprite.svg#headerSearch"></use>
            </svg>
          </button>
          <input class="search-site__input input-reset" type="text">
          <button class="search-site__button search-site__button--close btn-reset icon-focus" type="button"
            aria-label="Закрыть меню поиска">
            <svg class="search-site__icon">
              <use xlink:href="img/sprite.svg#headerSearchClose"></use>
            </svg>
          </button>
        </form>
      </div>
    </div>
    <div class="header__bottom">
      <div class="container header__bottom-inner">
        <nav class="header__nav-bottom nav-bottom" title="Нижняя навигация">
          <ul class="nav-bottom__list list-reset">
            <li class="nav-bottom__item">
              <button class="nav-bottom__btn bg-focus btn-dropdown btn-reset">
                <span class="btn-dropdown__text">Реализм</span>
                <svg class="btn-dropdown__icon">
                  <use xlink:href="img/sprite.svg#headerArrow"></use>
                </svg>
              </button>
              <div class="nav-bottom__dropdown dropdown">
                <ul class="dropdown__list list-reset">
                  <li class="dropdown__item dropdown__item--tintoretto">
                    <a href="#" class="dropdown__link">Тинторетто</a>
                  </li>
                  <li class="dropdown__item dropdown__item--friedrich">
                    <a href="#" class="dropdown__link">Фридрих</a>
                  </li>
                  <li class="dropdown__item dropdown__item--leonardo">
                    <a href="#" class="dropdown__link">Леонардо</a>
                  </li>
                  <li class="dropdown__item dropdown__item--verrocchio">
                    <a href="#" class="dropdown__link">Верроккьо</a>
                  </li>
                  <li class="dropdown__item dropdown__item--verrocchio">
                    <a href="#" class="dropdown__link">Верроккьо</a>
                  </li>
                  <li class="dropdown__item dropdown__item--leonardo">
                    <a href="#" class="dropdown__link">Леонардо</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-bottom__item">
              <button class="nav-bottom__btn bg-focus btn-dropdown btn-reset">
                <span class="btn-dropdown__text">Импрессионизм</span>
                <svg class="btn-dropdown__icon">
                  <use xlink:href="img/sprite.svg#headerArrow"></use>
                </svg>
              </button>
              <div class="nav-bottom__dropdown dropdown">
                <ul class="dropdown__list list-reset">
                  <li class="dropdown__item dropdown__item--mone">
                    <a href="#" class="dropdown__link">Моне</a>
                  </li>
                  <li class="dropdown__item dropdown__item--sisley">
                    <a href="#" class="dropdown__link">Сислей</a>
                  </li>
                  <li class="dropdown__item dropdown__item--mane">
                    <a href="#" class="dropdown__link">Мане</a>
                  </li>
                  <li class="dropdown__item dropdown__item--renoir">
                    <a href="#" class="dropdown__link">Ренуар</a>
                  </li>
                  <li class="dropdown__item dropdown__item--mane">
                    <a href="#" class="dropdown__link">Мане</a>
                  </li>
                  <li class="dropdown__item dropdown__item--sisley">
                    <a href="#" class="dropdown__link">Сислей</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-bottom__item">
              <button class="nav-bottom__btn bg-focus btn-dropdown btn-reset">
                <span class="btn-dropdown__text">Постимпрессионизм</span>
                <svg class="btn-dropdown__icon">
                  <use xlink:href="img/sprite.svg#headerArrow"></use>
                </svg>
              </button>
              <div class="nav-bottom__dropdown dropdown">
                <ul class="dropdown__list list-reset">
                  <li class="dropdown__item dropdown__item--van-gogh">
                    <a href="#" class="dropdown__link">Ван Гог</a>
                  </li>
                  <li class="dropdown__item dropdown__item--cezanne">
                    <a href="#" class="dropdown__link">Сезанн</a>
                  </li>
                  <li class="dropdown__item dropdown__item--gauguin">
                    <a href="#" class="dropdown__link">Гоген</a>
                  </li>
                  <li class="dropdown__item dropdown__item--seurat">
                    <a href="#" class="dropdown__link">Сёра</a>
                  </li>
                  <li class="dropdown__item dropdown__item--van-gogh">
                    <a href="#" class="dropdown__link">Ван Гог</a>
                  </li>
                  <li class="dropdown__item dropdown__item--gauguin">
                    <a href="#" class="dropdown__link">Гоген</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-bottom__item">
              <button class="nav-bottom__btn bg-focus btn-dropdown btn-reset">
                <span class="btn-dropdown__text">Авангард</span>
                <svg class="btn-dropdown__icon">
                  <use xlink:href="img/sprite.svg#headerArrow"></use>
                </svg>
              </button>
              <div class="nav-bottom__dropdown dropdown">
                <ul class="dropdown__list list-reset">
                  <li class="dropdown__item dropdown__item--kandinsky">
                    <a href="#" class="dropdown__link">Кадинский</a>
                  </li>
                  <li class="dropdown__item dropdown__item--marinetti">
                    <a href="#" class="dropdown__link">Маринетти</a>
                  </li>
                  <li class="dropdown__item dropdown__item--malevich">
                    <a href="#" class="dropdown__link">Малевич</a>
                  </li>
                  <li class="dropdown__item dropdown__item--picasso">
                    <a href="#" class="dropdown__link">Пикассо</a>
                  </li>
                  <li class="dropdown__item dropdown__item--malevich">
                    <a href="#" class="dropdown__link">Малевич</a>
                  </li>
                  <li class="dropdown__item dropdown__item--kandinsky">
                    <a href="#" class="dropdown__link">Кадинский</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-bottom__item">
              <button class="nav-bottom__btn bg-focus btn-dropdown btn-reset">
                <span class="btn-dropdown__text">Футуризм</span>
                <svg class="btn-dropdown__icon">
                  <use xlink:href="img/sprite.svg#headerArrow"></use>
                </svg>
              </button>
              <div class="nav-bottom__dropdown dropdown">
                <ul class="dropdown__list list-reset">
                  <li class="dropdown__item dropdown__item--carra">
                    <a href="#" class="dropdown__link">Карра</a>
                  </li>
                  <li class="dropdown__item dropdown__item--pratella">
                    <a href="#" class="dropdown__link">Прателла</a>
                  </li>
                  <li class="dropdown__item dropdown__item--severini">
                    <a href="#" class="dropdown__link">Северини</a>
                  </li>
                  <li class="dropdown__item dropdown__item--balla">
                    <a href="#" class="dropdown__link">Балла</a>
                  </li>
                  <li class="dropdown__item dropdown__item--severini">
                    <a href="#" class="dropdown__link">Северини</a>
                  </li>
                  <li class="dropdown__item dropdown__item--pratella">
                    <a href="#" class="dropdown__link">Прателла</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
        <form class="header__search-bottom search-site">
          <button class="btn-reset search-site__button" type="submit" tabindex="-1">
            <svg class="search-site__icon">
              <use xlink:href="img/sprite.svg#headerSearch"></use>
            </svg>
          </button>
          <input class="search-site__input input-reset" type="text" placeholder="Поиск по сайту">
        </form>
      </div>
    </div>
  </div>
</header>
