<section class="hero">
  <div class="hero__inner">
    <div class="container hero__content">
      <h2 class="hero__heading">Прикоснитесь к прекрасному</h2>
      <p class="hero__desc">Мы вынуждены отталкиваться от того, что реализация намеченных плановых заданий создаёт
        предпосылки для новых предложений.
      </p>
      <a href="#" class="hero__btn btn-reset btn-focus is-active">
        <span>
          Подписаться на рассылку
        </span>
      </a>
    </div>
    <div class="hero__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
        </div>
        <div class="swiper-slide">
        </div>
        <div class="swiper-slide">
        </div>
      </div>
    </div>
  </div>
</section>
