<div class="modal">
  <div class="modal__container" role="dialog">
    <button class="btn-reset modal__close icon-focus" aria-label="Закрыть модальное окно">
      <svg class="modal__close-icon">
        <use xlink:href="img/sprite.svg#close-modal"></use>
      </svg>
    </button>
    <picture class="modal__img">
      <source srcset="/" type="image/webp">
      <img loading="lazy" src="/" class="image" alt="none">
    </picture>
    <div class="modal__content">
      <h2 class="modal__title">Казимир Малевич</h2>
      <span class="modal__alt-img">“Женщина с граблями”</span>
      <span class="modal__date">1931-1932</span>
      <p class="modal__desc">Картина из второй серии крестьянского цикла работ Казимира Малевича. Художник принялся за
        её создание в 1930-1931 годах, после того, как первый цикл был утерян после Берлинской и Варшавской выставок в
        1927 году.</p>
    </div>
  </div>
</div>
