<section class="projects" id="projects">
  <div class="container projects__inner">
    <h2 class="projects__heading heading">Проекты</h2>
    <p class="projects__desc">Предварительные выводы: постоянное информационно-пропагандистское
      обеспечение нашей
      деятельности однозначно фиксирует необходимость своевременного выполнения сверхзадачи. А ещё независимые
      государства смешаны с не&nbsp; уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их
      статус бесполезности. Прежде всего, постоянное информационно-пропагандистское
      <span class="projects__tooltip tooltip">
        <button class="tooltip__btn btn-reset" aria-describedby="tooltip-1" aria-label="тултип">
          <svg>
            <use xlink:href="img/sprite.svg#tooltip-icon"></use>
          </svg>
        </button>
        <span class="tooltip__txt" role="tooltip" id="tooltip-1">
          Пример современных тенденций - современная методология
          разработки
          <span class="tooltip__arrow" data-popper-arrow></span>
        </span>
      </span>
      обеспечение нашей деятельности
      однозначно фиксирует необходимость экономической целесообразности принимаемых решений. И нет сомнений, что
      действия представителей оппозиции могут быть рассмотрены
      <span class="projects__tooltip tooltip">
        <button class="tooltip__btn btn-reset" aria-describedby="tooltip-2" aria-label="тултип">
          <svg>
            <use xlink:href="img/sprite.svg#tooltip-icon"></use>
          </svg>
        </button>
        <span class="tooltip__txt" role="tooltip" id="tooltip-2">
          Приятно, граждане, наблюдать, как сделанные на базе аналитики выводы вызывают у вас эмоции
          <span class="tooltip__arrow" data-popper-arrow></span>
        </span>
      </span>
      исключительно в разрезе маркетинговых&nbsp; и финансовых
      <span class="projects__tooltip tooltip">
        <button class="tooltip__btn btn-reset" aria-describedby="tooltip-3" aria-label="тултип">
          <svg>
            <use xlink:href="img/sprite.svg#tooltip-icon"></use>
          </svg>
        </button>
        <span class="tooltip__txt" role="tooltip" id="tooltip-3">
          В стремлении повысить качество
          <span class="tooltip__arrow" data-popper-arrow></span>
        </span>
      </span>
      предпосылок. Банальные, но&nbsp; неопровержимые выводы, а также представители современных социальных резервов
      призывают
      нас к новым свершениям, которые, в свою очередь, должны быть смешаны с не уникальными данными до степени
      совершенной неузнаваемости. Подробнее: <a class="projects__link bg-focus bg-focus--white-bg bg-focus--underline"
        href="">blanchard-art.ru<span>/projects</span><span>/about</span></a>
    </p>
    <h3 class="projects__title-partners">Партнёры проектов:</h3>
    <div class="projects__swiper-wrapper ">
      <button class="projects__button projects__button--prev btn-reset btn-swiper"
        aria-label="Переключить на предыдущий слайд"></button>
      <div class="swiper projects__swiper">
        <ul class="swiper-wrapper list-reset" title="Партнеры">
          <li class="swiper-slide projects__slide">
            <a class="projects__partners-link" href="">
              <picture class="projects__image">
                <source srcset="img/projects/projects-1.webp" type="image/webp">
                <img loading="lazy" src="img/projects/projects-1.png" class="image" alt="Партнер 1">
              </picture>
            </a>
          </li>
          <li class="swiper-slide projects__slide">
            <a class="projects__partners-link" href="#">
              <picture class="projects__image">
                <source srcset="img/projects/projects-2.webp" type="image/webp">
                <img loading="lazy" src="img/projects/projects-2.png" class="image" alt="Партнер 2">
              </picture>
            </a>
          </li>
          <li class="swiper-slide projects__slide">
            <a class="projects__partners-link" href="#">
              <picture class="projects__image">
                <source srcset="img/projects/projects-3.webp" type="image/webp">
                <img loading="lazy" src="img/projects/projects-3.png" class="image" alt="Партнер 3">
              </picture>
            </a>
          </li>
          <li class="swiper-slide projects__slide">
            <a class="projects__partners-link projects__partners-link--small" href="#">
              <picture class="projects__image">
                <source srcset="img/projects/projects-4.webp" type="image/webp">
                <img loading="lazy" src="img/projects/projects-4.png" class="image" alt="Партнер 4">
              </picture>
            </a>
          </li>
          <li class="swiper-slide projects__slide">
            <a class="projects__partners-link projects__partners-link--small" href="#">
              <picture class="projects__image">
                <source srcset="img/projects/projects-5.webp" type="image/webp">
                <img loading="lazy" src="img/projects/projects-5.png" class="image" alt="Партнер 5">
              </picture>
            </a>
          </li>
          <li class="swiper-slide projects__slide">
            <a class="projects__partners-link" href="#">
              <picture class="projects__image">
                <source srcset="img/projects/projects-6.webp" type="image/webp">
                <img loading="lazy" src="img/projects/projects-6.png" class="image" alt="Партнер 6">
              </picture>
            </a>
          </li>
          <li class="swiper-slide projects__slide">
            <a class="projects__partners-link" href="#">
              <picture class="projects__image">
                <source srcset="img/projects/projects-7.webp" type="image/webp">
                <img loading="lazy" src="img/projects/projects-7.png" class="image" alt="Партнер 7">
              </picture>
            </a>
          </li>
          <li class="swiper-slide projects__slide">
            <a class="projects__partners-link" href="#">
              <picture class="projects__image">
                <source srcset="img/projects/projects-8.webp" type="image/webp">
                <img loading="lazy" src="img/projects/projects-8.png" class="image" alt="Партнер 8">
              </picture>
            </a>
          </li>
          <li class="swiper-slide projects__slide">
            <a class="projects__partners-link" href="#">
              <picture class="projects__image">
                <source srcset="img/projects/projects-9.webp" type="image/webp">
                <img loading="lazy" src="img/projects/projects-9.png" class="image" alt="Партнер 9">
              </picture>
            </a>
          </li>
        </ul>
      </div>
      <button class="projects__button projects__button--next btn-reset btn-swiper"
        aria-label="Переключить на следующий слайд"></button>
    </div>
  </div>
</section>
