// если вы хотите использовать sass-переменные - удалите root
// colors
:root{
  --color-orange: #FF9900;
  --color-white: #fff;
  --color-silver: #CACACA;
  --color-black: #333333;
  --color-active: #E1670E;
}
