.about-us {

  &__inner {
    padding-top: 80px;
    padding-bottom: 70px;

    @include mobile {
      padding-top: 50px;
      padding-bottom: 41px;
    }
  }

  &__heading {
    margin-bottom: 16px;


    @include mobile {
      margin-bottom: 12px;
    }
  }

  &__desc {
    max-width: 1089px;
    line-height: 32px;

    @include mobile {
      font-size: 14px;
      line-height: 28px;
    }
  }
}
