.hero {

  &__inner {
    position: relative;
    min-height: 800px;

    @include tablet {
      min-height: 768px;
    }

    @include mobile {
      min-height: 355px;
    }
  }

  &__swiper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    & .swiper-slide {
      @include bg-cover;
    }

    & .swiper-slide:nth-child(1) {
      background-image: url("../img/hero/birmingham-museums.webp");

      @include tablet {
        background-image: url("../img/hero/birmingham-museums-1024.webp");
      }

      @include small-tablet {
        background-image: url("../img/hero/birmingham-museums-768.webp");
      }

      @include mobile {
        background-image: url("../img/hero/birmingham-museums-320.webp");
      }
    }

    & .swiper-slide:nth-child(2) {
      background-image: url("../img/hero/birmingham-museums-2.webp");

      @include tablet {
        background-image: url("../img/hero/birmingham-museums-1024-2.webp");
      }

      @include small-tablet {
        background-image: url("../img/hero/birmingham-museums-768-2.webp");
      }

      @include mobile {
        background-image: url("../img/hero/birmingham-museums-320-2.webp");
      }
    }

    & .swiper-slide:nth-child(3) {
      background-image: url("../img/hero/birmingham-museums-3.webp");

      @include tablet {
        background-image: url("../img/hero/birmingham-museums-1024-3.webp");
      }

      @include small-tablet {
        background-image: url("../img/hero/birmingham-museums-768-3.webp");
      }

      @include mobile {
        background-image: url("../img/hero/birmingham-museums-320-3.webp");
      }
    }


  }

  &__content {
    min-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-top: 170px;
    padding-bottom: 123px;
    color: var(--color-white);
    z-index: 2;

    @include tablet {
      padding-top: 100px;
      padding-bottom: 115px;
    }

    @include mobile {
      padding-top: 45px;
      padding-bottom: 45px;
      text-align: center;
    }
  }

  &__heading {
    max-width: 597px;
    margin-bottom: 19px;
    font-size: 72px;
    line-height: 82.8px;

    @include tablet {
      margin-bottom: 12px;
    }

    @media (max-width: (650px)) {
      font-size: 50px;
      line-height: 50px;
    }

    @include mobile {

      font-size: 32px;
      line-height: 36.8px;
    }
  }

  &__desc {
    max-width: 597px;
    margin-bottom: 92px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;

    @include tablet {
      max-width: 661px;
      margin-bottom: 134px;
    }

    @media (max-width: (650px)) {
      font-size: 16px;
      line-height: 20px;
    }

    @include mobile {
      width: 90%;
      margin: 0 auto;
      margin-bottom: 40px;
      font-size: 12px;
      font-weight: 400;
      line-height: 16.34px;
    }
  }

  &__btn {
    width: fit-content;
    padding: 22.5px 35px;
    background-color: var(--color-hover-2);
    border-radius: 100px;
    color: var(--color-white);
    font-size: 18px;
    font-weight: 700;
    line-height: 24.51px;

    @include mobile {
      margin: 0 auto;
      padding: 12px 20px;
      font-size: 12px;
      line-height: 16.34px;
    }
  }
}
