.link-more{
    display: flex;
    width: fit-content;
    align-items: center;
    color: #FF6E30;
    font-weight: 700;

    &__icon{
        padding-left: 3px;
    }

    &:focus{
        background-color: #FFD4C1;
        box-shadow: 0 0 0 2px #FFD4C1;
    }

    &:active{
        color: #CE4307;
    }
}