<section class="contacts">
  <div id="contacts" class="container  contacts__container">
    <h2 class="contacts__title title">Контакты</h2>
    <div class="grid">
      <div class="maps contacts__map">
        <div class="maps__yandex" id="map"></div>
        <div class="maps__location">
          <div class="maps__text">
            <h3 class="maps__title">
              Студия “High pass”
            </h3>
            <p class="maps__subtitle">107045, Москва, Даев переулок, дом 41, бизнес-центр «Даев Плаза», этаж
              8,
              офис
              № 82
              <span class="maps__tel tel">
                <svg class="tel__icon" width="22" height="22">
                  <use xlink:href=" img/sprite.svg#call"></use>
                </svg>
                <a href="" class="tel__number">+7 (495) 42-423-532</a>
              </span>
            </p>
            <span class="maps__close">
              <svg class="maps__icon" width="20" height="20">
                <use xlink:href=" img/sprite.svg#close-location"></use>
              </svg>
            </span>
          </div>
        </div>
      </div>

      <form method="POST" action="#" enctype="multipart/form-data" class="contacts__form form-request">
        <h3 class="form-request__title">Оставить заявку</h3>
        <p class="form-request__desc">Оставьте ваши данные, указав в графе “Комментарий” желаемые время и дату
          съемки
          или другого мероприятия</p>
        <label class="form-request__label">
          <input type="text" class="form-request__input" placeholder="Имя" data-validate-field="name" name="name">
        </label>
        <label class="form-request__label">
          <input class="form-request__input" placeholder="E-mail" data-validate-field="mail" name="email">
        </label>
        <label class="form-request__label">
          <textarea class="form-request__textarea" data-validate-field="text" name="desc" cols="30" rows="10"
            placeholder="Комментарий" required></textarea>
        </label>
        <button class="form-request__btn btn-reset btn" type="submit">
          Отправить
        </button>
      </form>
    </div>
  </div>

</section>
