<footer class="footer">
  <div class="footer__inner">
    <div class=" container grid">
      <div class="footer__logo-inner">
        <picture class="footer__logo logo">
          <source media="(max-width: 767px)" data-srcset="img/header/mobile/Logo.png">
          <source media="(max-width: 1250px)" data-srcset="img/header/desktop/Logo.png">
          <img class="lazy" data-src="img/header/Logo.png" alt="Логотип">
        </picture>
        <p class="footer__logo-text">Фотостудия High pass® 2018-2020</p>
      </div>
      <div class="footer__quote">
        <p class="footer__quote-text">Которая из моих фотографий самая любимая? Та, которую я собираюсь снять
          завтра.
        </p>
        <p class="footer__autor">© Имоджен Каннингем</p>
      </div>
      <div class="footer__social">
        <p class="footer__social-text">Больше интересного:</p>
        <ul class="social list-reset footer__social-list">
          <li class="social__item">
            <a href="#" class="social__link" aria-label="Перейти в Инстаграм">
              <svg class="social__icon" width="30" height="30">
                <use xlink:href=" img/sprite.svg#inst"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="#" class="social__link" aria-label="Перейти в Фейсбук">
              <svg class="social__icon" width="30" height="30">
                <use xlink:href=" img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="#" class="social__link" aria-label="Перейти во Вконтакте">
              <svg class="social__icon" width="30" height="30">
                <use xlink:href=" img/sprite.svg#vk"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</footer>
