<section class="hero">
    <div class="container grid hero__container">
        <div class="hero__left lazy-bg">
            <p class="hero__hashtag hashtag">#мастеркласс</p>
            <p class="hero__subtitle">Мастер-класс от Игоря Робова</p>
            <h2 class="hero__title-left">Неоновый фотосет 2.0 7 июля 20:00</h2>
            <button class="hero__btn btn btn-reset">Узнать больше</button>
        </div>
        <div class="hero__right previous-works">
            <h2 class="previous-works__title">Работы участников предыдущего мастер-класса</h2>
            <div class="previous-works__photos">
                <picture class="previous-works__img">
                    <source media="(max-width: 500px)" data-srcset="img/hero/mobile/hero2.jpg">
                    <source media="(max-width: 700px)" data-srcset="img/hero/tablet/hero2.jpg">
                    <source media="(max-width: 1250px)" data-srcset="img/hero/desktop/hero2.jpg">
                    <img class="lazy" data-src="img/hero/hero2.jpg" alt="Работы предыдущего мастер-класса фото 1">
                </picture>
                <picture class="previous-works__img">
                    <source media="(max-width: 500px)" data-srcset="img/hero/mobile/hero4.jpg">
                    <source media="(max-width: 700px)" data-srcset="img/hero/tablet/hero4.jpg">
                    <source media="(max-width: 1250px)" data-srcset="img/hero/desktop/hero4.jpg">
                    <img class="lazy" data-src="img/hero/hero4.jpg" alt="Работы предыдущего мастер-класса фото 2">
                </picture>
                <picture class="previous-works__img">
                    <source media="(max-width: 500px)" data-srcset="img/hero/mobile/hero3.jpg">
                    <source media="(max-width: 700px)" data-srcset="img/hero/tablet/hero3.jpg">
                    <source media="(max-width: 1250px)" data-srcset="img/hero/desktop/hero3.jpg">
                    <img class="lazy" data-src="img/hero/hero3.jpg" alt="Работы предыдущего мастер-класса фото 3">
                </picture>
            </div>
        </div>
    </div>
</section>