<section class="projects">
    <div id="ourProjects" class="container projects__container">
        <h2 class="projects__title title">
            Наши проекты
        </h2>
        <div class="swiper-container projects__swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide slide1">
                    <div class="projects__slide1 grid">
                        <article class="projects__article article article-tiny article-tiny--1">
                            <picture class="article__img">
                                <source media="(max-width: 767px)" data-srcset="img/projects/mobile/tuny1.jpg ">
                                <source media="(max-width: 1250px)" data-srcset="img/projects/desktop/tuny1.jpg">
                                <img data-src="img/projects/tuny1.jpg" alt="пейзаж" class="swiper-lazy lazy">
                            </picture>
                            <span class="article__hashtag hashtag">#пейзаж</span>
                            <h2 class="article__desc">Синтетически, смешаны с не уникальными данными до степени...</h2>
                            <div class="article__date date">
                                <svg class="date__icon" width="14" height="14">
                                    <use xlink:href=" img/sprite.svg#calendar"></use>
                                </svg>
                                <p class="date__text">16 июня</p>
                            </div>
                        </article>
                        <article class="projects__article article article-tiny article-tiny--2">
                            <picture class="article__img">
                                <source media="(max-width: 767px)" data-srcset="img/projects/mobile/tuny2.jpg">
                                <source media="(max-width: 1250px)" data-srcset="img/projects/desktop/tuny2.jpg">
                                <img data-src="img/projects/tuny2.jpg" alt="портрет" class="swiper-lazy lazy">
                            </picture>
                            <p class="article__hashtag hashtag">#портрет</p>
                            <h2 class="article__desc">В своём стремлении улучшить опыт мы упускаем, что явные...</h2>
                            <div class="article__date date">
                                <svg class="date__icon" width="14" height="14">
                                    <use xlink:href=" img/sprite.svg#calendar"></use>
                                </svg>
                                <p class="date__text">28 мая</p>
                            </div>
                        </article>
                        <article class="projects__article article article-tiny article-tiny--3">
                            <picture class="article__img">
                                <source media="(max-width: 767px)" data-srcset="img/projects/mobile/tuny3.jpg">
                                <source media="(max-width: 1250px)" data-srcset="img/projects/desktop/tuny3.jpg">
                                <img data-src="img/projects/tuny3.jpg" alt="предмет" class="swiper-lazy lazy">
                            </picture>
                            <p class="article__hashtag hashtag">#предмет</p>
                            <h2 class="article__desc">Равным образом, высокое качество позиционных...</h2>
                            <div class="article__date date">
                                <svg class="date__icon" width="14" height="14">
                                    <use xlink:href=" img/sprite.svg#calendar"></use>
                                </svg>
                                <p class="date__text">14 мая</p>
                            </div>
                        </article>
                        <article class="projects__article article article-tiny article-tiny--4">
                            <picture class="article__img">
                                <source media="(max-width: 767px)" data-srcset="img/projects/mobile/tuny4.jpg">
                                <source media="(max-width: 1250px)" data-srcset="img/projects/desktop/tuny4.jpg">
                                <img data-src="img/projects/tuny4.jpg" alt="пейзаж" class="swiper-lazy lazy">
                            </picture>
                            <p class="article__hashtag hashtag">#пейзаж</p>
                            <h2 class="article__desc">Равным образом, сложившаяся структура организации...</h2>
                            <div class="article__date date">
                                <svg class="date__icon" width="14" height="14">
                                    <use xlink:href=" img/sprite.svg#calendar"></use>
                                </svg>
                                <p class="date__text">15 февраля</p>
                            </div>
                        </article>
                        <article class="projects__article article article-large article-large--1 lazy-bg">
                            <div class="article-large__inner">
                                <p class="article-large__hashtag hashtag">#проектзабвение</p>
                                <div class="article-large__date date">
                                    <svg class="date__icon" width="14" height="14">
                                        <use xlink:href=" img/sprite.svg#calendar"></use>
                                    </svg>
                                    <p class="date__text">20 марта</p>
                                </div>
                                <h2 class="article-large__heading">Забвение</h2>
                                <p class="article-large__desc">Играет важную роль в формировании глубокомысленных
                                    рассуждений</p>
                            </div>
                            <button class="article-large__btn btn-reset">О проекте</button>
                        </article>
                        <article class="projects__article article article-large article-large--2 lazy-bg">
                            <div class="article-large__inner">
                                <p class="article-large__hashtag hashtag">#fuji</p>
                                <div class="article-large__date date">
                                    <svg class="date__icon" width="14" height="14">
                                        <use xlink:href=" img/sprite.svg#calendar"></use>
                                    </svg>
                                    <p class="date__text">9 апреля</p>
                                </div>
                                <h2 class="article-large__heading">Cемантический разбор</h2>
                                <p class="article-large__desc">В рамках спецификации современных стандартов,
                                    интерактивные прототипы
                                </p>
                            </div>
                            <button class="article-large__btn btn-reset">О проекте</button>
                        </article>
                        <article class="projects__article article article-medium article-medium--1">
                            <picture class="article__img">
                                <source media="(max-width: 767px)" data-srcset="img/projects/mobile/medium1.jpg">
                                <source media="(max-width: 1250px)" data-srcset="img/projects/desktop/medium1.jpg">
                                <img data-src="img/projects/medium1.jpg" alt="ретушь" class="swiper-lazy lazy">
                            </picture>
                            <p class="article__hashtag hashtag">#ретушь</p>
                            <h2 class="article__desc">Как принято считать, многие известные личности и по сей день
                                остаются
                                уделом либералов...</h2>
                            <div class="article__date date">
                                <svg class="date__icon" width="14" height="14">
                                    <use xlink:href=" img/sprite.svg#calendar"></use>
                                </svg>
                                <p class="date__text">9 марта</p>
                            </div>
                        </article>
                        <article class="projects__article article article-medium article-medium--2">
                            <picture class="article__img">
                                <source media="(max-width: 767px)" data-srcset="img/projects/mobile/medium2.jpg">
                                <source media="(max-width: 1250px)" data-srcset="img/projects/desktop/medium2.jpg">
                                <img data-src="img/projects/medium2.jpg" alt="портре" class="swiper-lazy lazy">
                            </picture>
                            <p class="article__hashtag hashtag">#портрет</p>
                            <h2 class=" article__desc">С учётом сложившейся международной обстановки, новая модель
                                организационной...</h2>
                            <div class="article__date date">
                                <svg class="date__icon" width="14" height="14">
                                    <use xlink:href=" img/sprite.svg#calendar"></use>
                                </svg>
                                <p class="date__text">1 марта</p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="swiper-slide slide2 ">
                    <div class="projects__slide2 grid">
                        <article class="projects__article article article-large article-large--1 lazy-bg">
                            <div class="article-large__inner">
                                <p class="article-large__hashtag hashtag">#проектзабвение</p>
                                <div class="article-large__date date">
                                    <svg class="date__icon" width="14" height="14">
                                        <use xlink:href=" img/sprite.svg#calendar"></use>
                                    </svg>
                                    <p class="date__text">24 февраля</p>
                                </div>
                                <h2 class="article-large__heading">Спорная точка зрения</h2>
                                <p class="article-large__desc">Ясность нашей позиции очевидна: убеждённость некоторых
                                    оппонентов</p>
                            </div>
                            <button class="article-large__btn btn-reset">О проекте</button>
                        </article>
                        <article class="projects__article article article-tiny article-tiny--1">
                            <picture class="article__img">
                                <source media="(max-width: 767px)" data-srcset="img/projects/mobile/tuny4.jpg">
                                <source media="(max-width: 1250px)" data-srcset="img/projects/desktop/tuny4.jpg">
                                <img data-src="img/projects/tuny4.jpg" alt="пейзаж" class="swiper-lazy lazy">
                            </picture>
                            <p class="article__hashtag hashtag">#пейзаж</p>
                            <h2 class="article__desc">Равным образом, сложившаяся структура организации...</h2>
                            <div class="article__date date">
                                <svg class="date__icon" width="14" height="14">
                                    <use xlink:href=" img/sprite.svg#calendar"></use>
                                </svg>
                                <p class="date__text">15 февраля</p>
                            </div>
                        </article>
                        <article class="projects__article article article-tiny article-tiny--2">
                            <picture class="article__img">
                                <source media="(max-width: 767px)" data-srcset="img/projects/mobile/tuny5.jpg">
                                <source media="(max-width: 1250px)" data-srcset="img/projects/desktop/tuny5.jpg">
                                <img data-src="img/projects/tuny5.jpg" alt="предмет" class="swiper-lazy lazy">
                            </picture>
                            <p class="article__hashtag hashtag">#предмет</p>
                            <h2 class="article__desc">Безусловно, реализация намеченных плановых заданий обеспечивает...
                            </h2>
                            <div class="article__date date">
                                <svg class="date__icon" width="14" height="14">
                                    <use xlink:href=" img/sprite.svg#calendar"></use>
                                </svg>
                                <p class="date__text">10 февраля</p>
                            </div>
                        </article>
                        <article class="projects__article article article-tiny article-tiny--3">
                            <picture class="article__img">
                                <source media="(max-width: 767px)" data-srcset="img/projects/mobile/tuny6.jpg">
                                <source media="(max-width: 1250px)" data-srcset="img/projects/desktop/tuny6.jpg">
                                <img data-src="img/projects/tuny6.jpg" alt="пейзаж" class="swiper-lazy lazy">
                            </picture>
                            <p class="article__hashtag hashtag">#пейзаж</p>
                            <h2 class="article__desc">Безусловно, курс на социальный национальный...</h2>
                            <div class="article__date date">
                                <svg class="date__icon" width="14" height="14">
                                    <use xlink:href=" img/sprite.svg#calendar"></use>
                                </svg>
                                <p class="date__text">7 февраля</p>
                            </div>
                        </article>
                        <article class="projects__article article article-medium article-medium--1">
                            <picture class="article__img">
                                <source media="(max-width: 767px)" data-srcset="img/projects/mobile/medium3.jpg">
                                <source media="(max-width: 1250px)" data-srcset="img/projects/desktop/medium3.jpg">
                                <img data-src="img/projects/medium3.jpg" alt="ретушь" class="swiper-lazy lazy">
                            </picture>
                            <p class="article__hashtag hashtag">#ретушь</p>
                            <h2 class="article__desc">Идейные соображения высшего порядка, а также убеждённость
                                некоторых
                                оппонентов...</h2>
                            <div class="article__date date">
                                <svg class="date__icon" width="14" height="14">
                                    <use xlink:href=" img/sprite.svg#calendar"></use>
                                </svg>
                                <p class="date__text">20 февраля</p>
                            </div>
                        </article>
                        <article class="projects__article article article-medium article-medium--2">
                            <picture class="article__img">
                                <source media="(max-width: 767px)" data-data-srcset="img/projects/mobile/medium4.jpg">
                                <source media="(max-width: 1250px)" data-data-srcset="img/projects/desktop/medium4.jpg">
                                <img data-src="img/projects/medium4.jpg" alt="портрет" class="swiper-lazy lazy">
                            </picture>
                            <p class="article__hashtag hashtag">#портрет</p>
                            <h2 class="article__desc">Прежде всего, повышение уровня гражданского сознания говорит о
                                возможностях
                                приоритизации...</h2>
                            <div class="article__date date">
                                <svg class="date__icon" width="14" height="14">
                                    <use xlink:href=" img/sprite.svg#calendar"></use>
                                </svg>
                                <p class="date__text">18 февраля</p>
                            </div>
                        </article>
                        <article class="lazy-bg projects__article article-large article-large--2">
                            <div class="article-large__inner">
                                <p class="article-large__hashtag hashtag">#проектджаз</p>
                                <div class="article-large__date date">
                                    <svg class="date__icon" width="14" height="14">
                                        <use xlink:href=" img/sprite.svg#calendar"></use>
                                    </svg>
                                    <p class="date__text">2 февраля</p>
                                </div>
                                <h2 class="article-large__heading">Задания по разработке своевременного</h2>
                                <p class="article-large__desc">Повседневная практика показывает, что сложившаяся
                                    структура
                                    организации играет важную роль
                                </p>
                            </div>
                            <button class="article-large__btn btn-reset">О проекте</button>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <div class="projects__pagination grid projects-pagination">
        </div>
    </div>
</section>