<section class="services">
    <div id="services" class="container services__container">
        <h2 class="services__heading title">Услуги студии</h2>
        <div class="services__swiper swiper-container ">
            <div class="services__pagination pagination">
                <div class="pagination__navigation">
                    <a class="pagination__text swiper-next">Основной перечень</a>
                    <a class="pagination__text swiper-prev">Услуги по ретуши</a>
                </div>
                <div class="pagination__scrollbar"></div>
            </div>
            <div class="swiper-wrapper">
                <div class="swiper-slide grid">
                    <ul class=" services__list-left services-list list-reset">
                        <li class="services-list__item">
                            <picture class="services-list__photo">
                                <source media="(max-width: 767px)"
                                    data-srcset="img/services/mobile/list-left/list-left.jpg">
                                <source media="(max-width: 1023px)"
                                    data-srcset="img/services/tablet/list-left/list-left.jpg">
                                <source media="(max-width: 1250px)"
                                    data-srcset="img/services/desktop/list-left/list-left.jpg">
                                <img data-src="img/services/list-left/list-left.jpg" alt="Основной перечень фото 1"
                                    class="swiper-lazy lazy">
                            </picture>
                            <div class="services-list__inner">
                                <a href="#" class="services-list__title link-title">Высокий уровень вовлечения</a>
                                <p class="services-list__text">Высокий уровень вовлечения представителей целевой
                                    аудитории
                                    является
                                    четким доказательством простого факта.</p>
                                <a class="link-more services-list__more" href="#">
                                    Подробнее
                                    <svg class="link-more__icon" width="19" height="13">
                                        <use xlink:href=" img/sprite.svg#Arrow-right"></use>
                                    </svg>
                                </a>
                            </div>
                        </li>
                        <li class="services-list__item">
                            <picture class="services-list__photo">
                                <source media="(max-width: 767px)"
                                    data-srcset="img/services/mobile/list-left/list-left2.jpg">
                                <source media="(max-width: 1023px)"
                                    data-srcset="img/services/tablet/list-left/list-left2.jpg">
                                <source media="(max-width: 1250px)"
                                    data-srcset="img/services/desktop/list-left/list-left2.jpg">
                                <img data-src="img/services/list-left/list-left2.jpg" alt="Основной перечень фото 1"
                                    class="swiper-lazy lazy">
                            </picture>
                            <div class="services-list__inner">
                                <a href="#" class="services-list__title link-title">Диаграммы связей</a>
                                <p class="services-list__text">Значимость этих проблем настолько очевидна, что
                                    реализация
                                    намеченных
                                    плановых заданий влечет за собой процесс.</p>
                                <a class="link-more services-list__more" href="#">
                                    Подробнее
                                    <svg class="link-more__icon" width="19" height="13">
                                        <use xlink:href=" img/sprite.svg#Arrow-right"></use>
                                    </svg>
                                </a>
                            </div>
                        </li>
                        <li class="services-list__item">
                            <picture class="services-list__photo">
                                <source media="(max-width: 767px)"
                                    data-srcset="img/services/mobile/list-left/list-left3.jpg">
                                <source media="(max-width: 1023px)"
                                    data-srcset="img/services/tablet/list-left/list-left3.jpg">
                                <source media="(max-width: 1250px)"
                                    data-srcset="img/services/desktop/list-left/list-left3.jpg">
                                <img data-src="img/services/list-left/list-left3.jpg" alt="Основной перечень фото 1"
                                    class="swiper-lazy lazy">
                            </picture>
                            <div class="services-list__inner">
                                <a href="#" class="services-list__title link-title">Высокотехнологичная
                                    концепция</a>
                                <p class="services-list__text">В частности, убеждённость некоторых оппонентов
                                    способствует
                                    подготовке
                                    и
                                    реализации анализа существующих паттернов.</p>
                                <a class="link-more services-list__more" href="#">
                                    Подробнее
                                    <svg class="link-more__icon" width="19" height="13">
                                        <use xlink:href=" img/sprite.svg#Arrow-right"></use>
                                    </svg>
                                </a>
                            </div>

                        </li>
                        <li class="services-list__item">
                            <picture class="services-list__photo">
                                <source media="(max-width: 767px)"
                                    data-srcset="img/services/mobile/list-left/list-left4.jpg">
                                <source media="(max-width: 1023px)"
                                    data-srcset="img/services/tablet/list-left/list-left4.jpg">
                                <source media="(max-width: 1250px)"
                                    data-srcset="img/services/desktop/list-left/list-left4.jpg">
                                <img data-src="img/services/list-left/list-left4.jpg" alt="Основной перечень фото 1"
                                    class="swiper-lazy lazy">
                            </picture>
                            <div class="services-list__inner">
                                <a href="#" class="services-list__title link-title">Сложившаяся структура
                                    организации</a>
                                <p class="services-list__text">Кстати, сторонники тоталитаризма в науке будут
                                    объединены
                                    в
                                    целые
                                    кластеры
                                    себе подобных.</p>
                                <a class="link-more services-list__more" href="#">
                                    Подробнее
                                    <svg class="link-more__icon" width="19" height="13">
                                        <use xlink:href=" img/sprite.svg#Arrow-right"></use>
                                    </svg>
                                </a>
                            </div>

                        </li>
                        <li class="services-list__item">
                            <picture class="services-list__photo">
                                <source media="(max-width: 767px)"
                                    data-srcset="img/services/mobile/list-left/list-left5.jpg">
                                <source media="(max-width: 1023px)"
                                    data-srcset="img/services/tablet/list-left/list-left5.jpg">
                                <source media="(max-width: 1250px)"
                                    data-srcset="img/services/desktop/list-left/list-left5.jpg">
                                <img data-src="img/services/list-left/list-left5.jpg" alt="Основной перечень фото 1"
                                    class="swiper-lazy lazy">
                            </picture>
                            <div class="services-list__inner">
                                <a href="#" class="services-list__title link-title">Внутренние резервы и ресурсы</a>
                                <p class="services-list__text">Банальные, но неопровержимые выводы, а также ключевые
                                    особенности
                                    структуры проекта являются только методом.</p>
                                <a class="link-more services-list__more" href="#">
                                    Подробнее
                                    <svg class="link-more__icon" width="19" height="13">
                                        <use xlink:href=" img/sprite.svg#Arrow-right"></use>
                                    </svg>
                                </a>
                            </div>
                        </li>
                    </ul>
                    <aside class="aside services__aside services__aside--tablet lazy-bg">
                        <div class="aside__abs abs">
                            <h3 class="abs__title">Акция!</h3>
                            <p class="abs__subtitle">Только в июне</p>
                            <picture class="abs__sales">
                                <source media="(max-width: 767px)" data-srcset="img/services/mobile/abs/sale2.png">
                                <img data-src="img/services/abs/sale.png" alt="Основной перечень фото 1"
                                    class="swiper-lazy lazy">
                            </picture>
                            <p class="abs__desc">1,5 часа портретной съемки + ретушь 10 снимков</p>
                            <button class="abs__btn btn-reset btn">Узнать больше</button>
                        </div>
                    </aside>
                    <div class="services__completedwork completedwork ">
                        <h3 class="completedwork__title">Выполненные работы</h3>
                        <div class="completedwork__photos">
                            <picture class="completedwork__work">
                                <source media="(max-width: 767px)"
                                    data-srcset="img/services/mobile/completedwork/left-list/completedwork1.jpg">
                                <source media="(max-width: 1250px)"
                                    data-srcset="img/services/desktop/completedwork/left-list/completedwork1.jpg">
                                <img data-src="img/services/completedwork/left-list/completedwork1.jpg"
                                    alt="Выполненые работы фото 1" class="swiper-lazy lazy">
                            </picture>
                            <picture class="completedwork__work">
                                <source media="(max-width: 767px)"
                                    data-srcset="img/services/mobile/completedwork/left-list/completedwork2.jpg">
                                <source media="(max-width: 1250px)"
                                    data-srcset="img/services/desktop/completedwork/left-list/completedwork2.jpg">
                                <img data-src="img/services/completedwork/left-list/completedwork2.jpg"
                                    alt="Выполненые работы фото 2" class="swiper-lazy lazy">
                            </picture>
                            <picture class="completedwork__work">
                                <source media="(max-width: 767px)"
                                    data-srcset="img/services/mobile/completedwork/left-list/completedwork3.jpg">
                                <source media="(max-width: 1250px)"
                                    data-srcset="img/services/desktop/completedwork/left-list/completedwork3.jpg">
                                <img data-src="img/services/completedwork/left-list/completedwork3.jpg"
                                    alt="Выполненые работы фото 3" class="swiper-lazy lazy">
                            </picture>
                            <picture class="completedwork__work">
                                <source media="(max-width: 767px)"
                                    data-srcset="img/services/mobile/completedwork/left-list/completedwork4.jpg">
                                <source media="(max-width: 1250px)"
                                    data-srcset="img/services/desktop/completedwork/left-list/completedwork4.jpg">
                                <img data-src="img/services/completedwork/left-list/completedwork4.jpg"
                                    alt="Выполненые работы фото 4" class="swiper-lazy lazy">
                            </picture>
                            <picture class="completedwork__work">
                                <source media="(max-width: 767px)"
                                    data-srcset="img/services/mobile/completedwork/left-list/completedwork5.jpg">
                                <source media="(max-width: 1250px)"
                                    data-srcset="img/services/desktop/completedwork/left-list/completedwork5.jpg">
                                <img data-src="img/services/completedwork/left-list/completedwork5.jpg"
                                    alt="Выполненые работы фото 5" class="swiper-lazy lazy">
                            </picture>
                            <picture class="completedwork__work">
                                <source media="(max-width: 767px)"
                                    data-srcset="img/services/mobile/completedwork/left-list/completedwork6.jpg">
                                <source media="(max-width: 1250px)"
                                    data-srcset="img/services/desktop/completedwork/left-list/completedwork6.jpg">
                                <img data-src="img/services/completedwork/left-list/completedwork6.jpg"
                                    alt="Выполненые работы фото 6" class="swiper-lazy lazy">
                            </picture>
                            <picture class="completedwork__work">
                                <source media="(max-width: 767px)"
                                    data-srcset="img/services/mobile/completedwork/left-list/completedwork7.jpg">
                                <source media="(max-width: 1250px)"
                                    data-srcset="img/services/desktop/completedwork/left-list/completedwork7.jpg">
                                <img data-src="img/services/completedwork/left-list/completedwork7.jpg"
                                    alt="Выполненые работы фото 7" class="swiper-lazy lazy">
                            </picture>
                            <picture class="completedwork__work">
                                <source media="(max-width: 767px)"
                                    data-srcset="img/services/mobile/completedwork/left-list/completedwork8.jpg">
                                <source media="(max-width: 1250px)"
                                    data-srcset="img/services/desktop/completedwork/left-list/completedwork8.jpg">
                                <img data-src="img/services/completedwork/left-list/completedwork8.jpg"
                                    alt="Выполненые работы фото 8" class="swiper-lazy lazy">
                            </picture>
                            <picture class="completedwork__work">
                                <source media="(max-width: 767px)"
                                    data-srcset="img/services/mobile/completedwork/left-list/completedwork9.jpg">
                                <source media="(max-width: 1250px)"
                                    data-srcset="img/services/desktop/completedwork/left-list/completedwork9.jpg">
                                <img data-src="img/services/completedwork/left-list/completedwork9.jpg"
                                    alt="Выполненые работы фото 9" class="swiper-lazy lazy">
                            </picture>
                            <picture class="completedwork__work">
                                <source media="(max-width: 767px)"
                                    data-srcset="img/services/mobile/completedwork/left-list/completedwork10.jpg">
                                <source media="(max-width: 1250px)"
                                    data-srcset="img/services/desktop/completedwork/left-list/completedwork10.jpg">
                                <img data-src="img/services/completedwork/left-list/completedwork10.jpg"
                                    alt="Выполненые работы фото 10" class="swiper-lazy lazy">
                            </picture>
                            <picture class="completedwork__work">
                                <source media="(max-width: 767px)"
                                    data-srcset="img/services/mobile/completedwork/left-list/completedwork11.jpg">
                                <source media="(max-width: 1250px)"
                                    data-srcset="img/services/desktop/completedwork/left-list/completedwork11.jpg">
                                <img data-src="img/services/completedwork/left-list/completedwork11.jpg"
                                    alt="Выполненые работы фото 11" class="swiper-lazy lazy">
                            </picture>
                            <picture class="completedwork__work">
                                <source media="(max-width: 767px)"
                                    data-srcset="img/services/mobile/completedwork/left-list/completedwork12.jpg">
                                <source media="(max-width: 1250px)"
                                    data-srcset="img/services/desktop/completedwork/left-list/completedwork12.jpg">
                                <img data-src="img/services/completedwork/left-list/completedwork12.jpg"
                                    alt="Выполненые работы фото 12" class="swiper-lazy lazy">
                            </picture>
                            <picture class="completedwork__work">
                                <source media="(max-width: 767px)"
                                    data-srcset="img/services/mobile/completedwork/left-list/completedwork13.jpg">
                                <source media="(max-width: 1250px)"
                                    data-srcset="img/services/desktop/completedwork/left-list/completedwork13.jpg">
                                <img data-src="img/services/completedwork/left-list/completedwork13.jpg"
                                    alt="Выполненые работы фото 13" class="swiper-lazy lazy">
                            </picture>
                            <picture class="completedwork__work">
                                <source media="(max-width: 767px)"
                                    data-srcset="img/services/mobile/completedwork/left-list/completedwork14.jpg">
                                <source media="(max-width: 1250px)"
                                    data-srcset="img/services/desktop/completedwork/left-list/completedwork14.jpg">
                                <img data-src="img/services/completedwork/left-list/completedwork14.jpg"
                                    alt="Выполненые работы фото 14" class="swiper-lazy lazy">
                            </picture>
                            <picture class="completedwork__work">
                                <source media="(max-width: 767px)"
                                    data-srcset="img/services/mobile/completedwork/left-list/completedwork15.jpg">
                                <source media="(max-width: 1250px)"
                                    data-srcset="img/services/desktop/completedwork/left-list/completedwork15.jpg">
                                <img data-src="img/services/completedwork/left-list/completedwork15.jpg"
                                    alt="Выполненые работы фото 15" class="swiper-lazy lazy">
                            </picture>
                            <picture class="completedwork__work">
                                <source media="(max-width: 767px)"
                                    data-srcset="img/services/mobile/completedwork/left-list/completedwork16.jpg">
                                <source media="(max-width: 1250px)"
                                    data-srcset="img/services/desktop/completedwork/left-list/completedwork16.jpg">
                                <img data-src="img/services/completedwork/left-list/completedwork16.jpg"
                                    alt="Выполненые работы фото 16" class="swiper-lazy lazy">
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide grid">
                    <ul class="services__retouching retouching list-reset">
                        <li class="retouching__item">
                            <picture class="retouching__photo">
                                <source media="(max-width: 1023px)" data-srcset="img/services/tablet/list/list1.jpg">
                                <source media="(max-width: 1250px)" data-srcset="img/services/desktop/list/list1.jpg">
                                <img data-src="img/services/list/list1.jpg" alt="Услуги по ретуши фото 1"
                                    class="swiper-lazy lazy">
                            </picture>
                            <div class="retouching__inner">
                                <a href="#" class="retouching__title link-title">Принимая во внимание показатели</a>
                                <a class="link-more services-list__more" href="#">
                                    Подробнее
                                    <svg class="link-more__icon" width="19" height="13">
                                        <use xlink:href=" img/sprite.svg#Arrow-right"></use>
                                    </svg>
                                </a>
                            </div>
                        </li>
                        <li class="retouching__item">
                            <picture class="retouching__photo">
                                <source media="(max-width: 1023px)" data-srcset="img/services/tablet/list/list2.jpg">
                                <source media="(max-width: 1250px)" data-srcset="img/services/desktop/list/list2.jpg">
                                <img data-src="img/services/list/list2.jpg" alt="Услуги по ретуши фото 2"
                                    class="swiper-lazy lazy">
                            </picture>
                            <div class="retouching__inner">
                                <a href="#" class="retouching__title link-title">Таким образом, выбранный
                                    нами...</a>
                                <a class="link-more services-list__more" href="#">
                                    Подробнее
                                    <svg class="link-more__icon" width="19" height="13">
                                        <use xlink:href=" img/sprite.svg#Arrow-right"></use>
                                    </svg>
                                </a>
                            </div>

                        </li>
                        <li class="retouching__item">
                            <picture class="retouching__photo">
                                <source media="(max-width: 1023px)" data-srcset="img/services/tablet/list/list3.jpg">
                                <source media="(max-width: 1250px)" data-srcset="img/services/desktop/list/list3.jpg">
                                <img data-src="img/services/list/list3.jpg" alt="Услуги по ретуши фото 3"
                                    class="swiper-lazy lazy">
                            </picture>
                            <div class="retouching__inner">
                                <a href="#" class="retouching__title link-title">Также как высокое качество...</a>
                                <a class="link-more services-list__more" href="#">
                                    Подробнее
                                    <svg class="link-more__icon" width="19" height="13">
                                        <use xlink:href=" img/sprite.svg#Arrow-right"></use>
                                    </svg>
                                </a>
                            </div>

                        </li>
                        <li class="retouching__item">
                            <picture class="retouching__photo">
                                <source media="(max-width: 1023px)" data-srcset="img/services/tablet/list/list4.jpg">
                                <source media="(max-width: 1250px)" data-srcset="img/services/desktop/list/list4.jpg">
                                <img data-src="img/services/list/list4.jpg" alt="Услуги по ретуши фото 4"
                                    class="swiper-lazy lazy">
                            </picture>
                            <div class="retouching__inner">
                                <a href="#" class="retouching__title link-title">Безусловно, семантический
                                    разбор...</a>
                                <a class="link-more services-list__more" href="#">
                                    Подробнее
                                    <svg class="link-more__icon" width="19" height="13">
                                        <use xlink:href=" img/sprite.svg#Arrow-right"></use>
                                    </svg>
                                </a>
                            </div>

                        </li>
                        <li class="retouching__item">
                            <picture class="retouching__photo">
                                <source media="(max-width: 1023px)" data-srcset="img/services/tablet/list/list5.jpg">
                                <source media="(max-width: 1250px)" data-srcset="img/services/desktop/list/list5.jpg">
                                <img data-src="img/services/list/list5.jpg" alt="Услуги по ретуши фото 5"
                                    class="swiper-lazy lazy">
                            </picture>
                            <div class="retouching__inner">
                                <a href="#" class="retouching__title link-title">Внезапно, предприниматели в
                                    интернете...</a>
                                <a class="link-more services-list__more" href="#">
                                    Подробнее
                                    <svg class="link-more__icon" width="19" height="13">
                                        <use xlink:href=" img/sprite.svg#Arrow-right"></use>
                                    </svg>
                                </a>
                            </div>

                        </li>
                        <li class="retouching__item">
                            <picture class="retouching__photo">
                                <source media="(max-width: 1023px)" data-srcset="img/services/tablet/list/list6.jpg">
                                <source media="(max-width: 1250px)" data-srcset="img/services/desktop/list/list6.jpg">
                                <img data-src="img/services/list/list6.jpg" alt="Услуги по ретуши фото 6"
                                    class="swiper-lazy lazy">
                            </picture>
                            <div class="retouching__inner">
                                <a href="#" class="retouching__title link-title">Есть над чем подумать:
                                    активные...</a>
                                <a class="link-more services-list__more" href="#">
                                    Подробнее
                                    <svg class="link-more__icon" width="20" height="14">
                                        <use xlink:href=" img/sprite.svg#Arrow-right"></use>
                                    </svg>
                                </a>
                            </div>

                        </li>
                        <li class="retouching__item">
                            <picture class="retouching__photo">
                                <source media="(max-width: 1023px)" data-srcset="img/services/tablet/list/list7.jpg">
                                <source media="(max-width: 1250px)" data-srcset="img/services/desktop/list/list7.jpg">
                                <img data-src="img/services/list/list7.jpg" alt="Услуги по ретуши фото 7"
                                    class="swiper-lazy lazy">
                            </picture>
                            <div class="retouching__inner">
                                <a href="#" class="retouching__title link-title">Сделанные на базе аналитики
                                    выводы...</a>
                                <a class="link-more services-list__more" href="#">
                                    Подробнее
                                    <svg class="link-more__icon" width="19" height="13">
                                        <use xlink:href=" img/sprite.svg#Arrow-right"></use>
                                    </svg>
                                </a>
                            </div>

                        </li>
                        <li class="retouching__item">
                            <picture class="retouching__photo">
                                <source media="(max-width: 1023px)" data-srcset="img/services/tablet/list/list8.jpg">
                                <source media="(max-width: 1250px)" data-srcset="img/services/desktop/list/list8.jpg">
                                <img data-src="img/services/list/list8.jpg" alt="Услуги по ретуши фото 8"
                                    class="swiper-lazy lazy">
                            </picture>
                            <div class="retouching__inner">
                                <a href="#" class="retouching__title link-title">Как принято считать,
                                    сторонники...</a>
                                <a class="link-more services-list__more" href="#">
                                    Подробнее
                                    <svg class="link-more__icon" width="19" height="13">
                                        <use xlink:href=" img/sprite.svg#Arrow-right"></use>
                                    </svg>
                                </a>
                            </div>

                        </li>
                        <li class="retouching__item">
                            <picture class="retouching__photo">
                                <source media="(max-width: 1023px)" data-srcset="img/services/tablet/list/list9.jpg">
                                <source media="(max-width: 1250px)" data-srcset="img/services/desktop/list/list9.jpg">
                                <img data-src="img/services/list/list9.jpg" alt="Услуги по ретуши фото 9"
                                    class="swiper-lazy lazy">
                            </picture>
                            <div class="retouching__inner">
                                <a href="#" class="retouching__title link-title">Задача организации, в
                                    особенности...</a>
                                <a class="link-more services-list__more" href="#">
                                    Подробнее
                                    <svg class="link-more__icon" width="19" height="13">
                                        <use xlink:href=" img/sprite.svg#Arrow-right"></use>
                                    </svg>
                                </a>
                            </div>
                        </li>
                        <li class="retouching__item">
                            <picture class="retouching__photo">
                                <source media="(max-width: 1023px)" data-srcset="img/services/tablet/list/list10.jpg">
                                <source media="(max-width: 1250px)" data-srcset="img/services/desktop/list/list10.jpg">
                                <img data-src="img/services/list/list10.jpg" alt="Услуги по ретуши фото 10"
                                    class="swiper-lazy lazy">
                            </picture>
                            <div class="retouching__inner">
                                <a href="#" class="retouching__title link-title">Активно развивающиеся страны...</a>
                                <a class="link-more services-list__more" href="#">
                                    Подробнее
                                    <svg class="link-more__icon" width="19" height="13">
                                        <use xlink:href=" img/sprite.svg#Arrow-right"></use>
                                    </svg>
                                </a>
                            </div>
                        </li>
                    </ul>
                    <aside class="services__aside aside services__aside--tablet">
                        <div class="aside__abs abs">
                            <h3 class="abs__title">Акция!</h3>
                            <p class="abs__subtitle">Только в июне</p>
                            <img class="abs__sales" data-src="img/services/abs/sale.png" alt="Скидка 20%">
                            <p class="abs__desc">1,5 часа портретной съемки + ретушь 10 снимков</p>
                            <button class="abs__btn btn-reset btn">Узнать больше</button>
                        </div>
                    </aside>
                    <div class="services__completedwork completedwork ">
                        <h3 class="completedwork__title">Выполненные работы</h3>
                        <div class="completedwork__photos">
                            <picture class="completedwork__work">
                                <source media="(max-width: 1250px)"
                                    data-srcset="img/services/desktop/completedwork/right-list/completedwork1.jpg">
                                <img data-src="img/services/completedwork/right-list/completedwork1.jpg"
                                    alt="Выполненые работы фото 1" class="swiper-lazy lazy">
                            </picture>
                            <picture class="completedwork__work">
                                <source media="(max-width: 1250px)"
                                    data-srcset="img/services/desktop/completedwork/right-list/completedwork2.jpg">
                                <img data-src="img/services/completedwork/right-list/completedwork2.jpg"
                                    alt="Выполненые работы фото 2" class="swiper-lazy lazy">
                            </picture>
                            <picture class="completedwork__work">
                                <source media="(max-width: 1250px)"
                                    data-srcset="img/services/desktop/completedwork/right-list/completedwork3.jpg">
                                <img data-src="img/services/completedwork/right-list/completedwork3.jpg"
                                    alt="Выполненые работы фото 3" class="swiper-lazy lazy">
                            </picture>
                            <picture class="completedwork__work">
                                <source media="(max-width: 1250px)"
                                    data-srcset="img/services/desktop/completedwork/right-list/completedwork4.jpg">
                                <img data-src="img/services/completedwork/right-list/completedwork4.jpg"
                                    alt="Выполненые работы фото 4" class="swiper-lazy lazy">
                            </picture>
                            <picture class="completedwork__work">
                                <source media="(max-width: 1250px)"
                                    data-srcset="img/services/desktop/completedwork/right-list/completedwork5.jpg">
                                <img data-src="img/services/completedwork/right-list/completedwork5.jpg"
                                    alt="Выполненые работы фото 5" class="swiper-lazy lazy">
                            </picture>
                            <picture class="completedwork__work">
                                <source media="(max-width: 1250px)"
                                    data-srcset="img/services/desktop/completedwork/right-list/completedwork6.jpg">
                                <img data-src="img/services/completedwork/right-list/completedwork6.jpg"
                                    alt="Выполненые работы фото 6" class="swiper-lazy lazy">
                            </picture>
                            <picture class="completedwork__work">
                                <source media="(max-width: 1250px)"
                                    data-srcset="img/services/desktop/completedwork/right-list/completedwork7.jpg">
                                <img data-src="img/services/completedwork/right-list/completedwork7.jpg"
                                    alt="Выполненые работы фото 7" class="swiper-lazy lazy">
                            </picture>
                            <picture class="completedwork__work">
                                <source media="(max-width: 1250px)"
                                    data-srcset="img/services/desktop/completedwork/right-list/completedwork8.jpg">
                                <img data-src="img/services/completedwork/right-list/completedwork8.jpg"
                                    alt="Выполненые работы фото 8" class="swiper-lazy lazy">
                            </picture>
                            <picture class="completedwork__work">
                                <source media="(max-width: 1250px)"
                                    data-srcset="img/services/desktop/completedwork/right-list/completedwork9.jpg">
                                <img data-src="img/services/completedwork/right-list/completedwork9.jpg"
                                    alt="Выполненые работы фото 9" class="swiper-lazy lazy">
                            </picture>
                            <picture class="completedwork__work">
                                <source media="(max-width: 1250px)"
                                    data-srcset="img/services/desktop/completedwork/right-list/completedwork10.jpg">
                                <img data-src="img/services/completedwork/right-list/completedwork10.jpg"
                                    alt="Выполненые работы фото 10" class="swiper-lazy lazy">
                            </picture>
                            <picture class="completedwork__work">
                                <source media="(max-width: 1250px)"
                                    data-srcset="img/services/desktop/completedwork/right-list/completedwork11.jpg">
                                <img data-src="img/services/completedwork/right-list/completedwork11.jpg"
                                    alt="Выполненые работы фото 11" class="swiper-lazy lazy">
                            </picture>
                            <picture class="completedwork__work">
                                <source media="(max-width: 1250px)"
                                    data-srcset="img/services/desktop/completedwork/right-list/completedwork12.jpg">
                                <img data-src="img/services/completedwork/right-list/completedwork12.jpg"
                                    alt="Выполненые работы фото 12" class="swiper-lazy lazy">
                            </picture>
                            <picture class="completedwork__work">
                                <source media="(max-width: 1250px)"
                                    data-srcset="img/services/desktop/completedwork/right-list/completedwork13.jpg">
                                <img data-src="img/services/completedwork/right-list/completedwork13.jpg"
                                    alt="Выполненые работы фото 13" class="swiper-lazy lazy">
                            </picture>
                            <picture class="completedwork__work">
                                <source media="(max-width: 1250px)"
                                    data-srcset="img/services/desktop/completedwork/right-list/completedwork14.jpg">
                                <img data-src="img/services/completedwork/right-list/completedwork14.jpg"
                                    alt="Выполненые работы фото 14" class="swiper-lazy lazy">
                            </picture>
                            <picture class="completedwork__work">
                                <source media="(max-width: 1250px)"
                                    data-srcset="img/services/desktop/completedwork/right-list/completedwork15.jpg">
                                <img data-src="img/services/completedwork/right-list/completedwork15.jpg"
                                    alt="Выполненые работы фото 15" class="swiper-lazy lazy">
                            </picture>
                            <picture class="completedwork__work">
                                <source media="(max-width: 1250px)"
                                    data-srcset="img/services/desktop/completedwork/right-list/completedwork16.jpg">
                                <img data-src="img/services/completedwork/right-list/completedwork16.jpg"
                                    alt="Выполненые работы фото 16" class="swiper-lazy lazy">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <aside class="aside services__aside services__aside--dekstop lazy-bg">
            <div class="aside__abs abs">
                <h3 class="abs__title">Акция!</h3>
                <p class="abs__subtitle">Только в июне</p>
                <img class="abs__sales lazy" data-src="img/services/abs/sale.png" alt="Скидка 20%">
                <p class="abs__desc">1,5 часа портретной съемки + ретушь 10 снимков</p>
                <button class="abs__btn btn-reset btn">Узнать больше</button>
            </div>
        </aside>
    </div>
</section>