<section class="skill">
  <div id="skill" class="skill__inner">
    <div class="container">
      <h2 class="skill__heading">Мастер-классы</h2>
      <div class="skill__wrapper grid">
        <picture class="skill__photo">
          <source media="(max-width: 640px)" data-srcset="img/master/mobile/skill.jpg">
          <source media="(max-width: 1023px)" data-srcset="img/master/tablet/skill.jpg">
          <source media="(max-width: 1250px)" data-srcset="img/master/desktop/skill.jpg">
          <img class="lazy" data-src="img/master/skill.jpg" alt="Мастер-классы фото 1">
        </picture>
        <div class="skill__begin">
          <div class="skill__datatime">
            <div class="skill__date date">
              <svg class="date__icon" width="14" height="14">
                <use xlink:href=" img/sprite.svg#calendar"></use>
              </svg>
              <p class="date__text">8 июня</p>
            </div>
            <div class="skill__time time">
              <svg class="time__icon" width="12" height="12">
                <use xlink:href=" img/sprite.svg#time"></use>
              </svg>
              <p class="time__text">15:00</p>
            </div>
          </div>
          <h3 class="skill__title">Пленка для начинающих</h3>
          <p class="skill__desc">Высокий уровень вовлечения представителей целевой аудитории является четким
            доказательством простого факта: семантический разбор внешних противодействий, в своём классическом
            представлении.</p>
          <button class="skill__btn btn btn-reset">
            Узнать больше
          </button>
        </div>
        <ul class="skill__list list-reset more-skills">
          <li class="more-skills__item">
            <picture class="more-skills__img">
              <source media="(max-width: 1250px)" data-srcset="img/master/mobile/skill2.jpg">
              <source media="(max-width: 1250px)" data-srcset="img/master/desktop/skill2.jpg">
              <img class="lazy" data-src="img/master/skill2.jpg" alt="Мастер-классы фото 2">
            </picture>
            <div class="more-skills__inner">
              <div class="more-skills__datatime">
                <div class="more-skills__date date">
                  <svg class="date__icon" width="14" height="14">
                    <use xlink:href=" img/sprite.svg#calendar"></use>
                  </svg>
                  <p class="date__text">9 июня</p>
                </div>
                <div class="more-skills__time time">
                  <svg class="time__icon" width="12" height="12">
                    <use xlink:href=" img/sprite.svg#time"></use>
                  </svg>
                  <p class="time__text">15:00</p>
                </div>
              </div>
              <h3 class="more-skills__title">Ретушь. Продвинутый уровень</h3>
            </div>
          </li>
          <li class="more-skills__item">
            <picture class="more-skills__img">
              <source media="(max-width: 1250px)" data-srcset="img/master/mobile/skill4.jpg">
              <source media="(max-width: 1250px)" data-srcset="img/master/desktop/skill4.jpg">
              <img class="lazy" data-src="img/master/skill3.jpg" alt="Мастер-классы фото 3">
            </picture>
            <div class="more-skills__inner">
              <div class="more-skills__datatime">
                <div class="more-skills__date date">
                  <svg class="date__icon" width="14" height="14">
                    <use xlink:href=" img/sprite.svg#calendar"></use>
                  </svg>
                  <p class="date__text">10 июня</p>
                </div>
                <div class="more-skills__time time">
                  <svg class="time__icon" width="12" height="12">
                    <use xlink:href=" img/sprite.svg#time"></use>
                  </svg>
                  <p class="time__text">16:00</p>
                </div>
              </div>
              <h3 class="more-skills__title">Портретная съемка. Свет</h3>
            </div>
          </li>
          <li class="more-skills__item">
            <picture class="more-skills__img">
              <source media="(max-width: 1250px)" data-srcset="img/master/mobile/skill3.jpg">
              <source media="(max-width: 1250px)" data-srcset="img/master/desktop/skill3.jpg">
              <img class="lazy" data-src="img/master/skill4.jpg" alt="Мастер-классы фото 4">
            </picture>
            <div class="more-skills__inner">
              <div class="more-skills__datatime">
                <div class="more-skills__date date">
                  <svg class="date__icon" width="14" height="14">
                    <use xlink:href=" img/sprite.svg#calendar"></use>
                  </svg>
                  <p class="date__text">11 июня</p>
                </div>
                <div class="more-skills__time time">
                  <svg class="time__icon" width="12" height="12">
                    <use xlink:href=" img/sprite.svg#time"></use>
                  </svg>
                  <p class="time__text">16:00</p>
                </div>
              </div>
              <h3 class="more-skills__title">Макросъемка. Проблемы и нюансы</h3>
            </div>
          </li>
          <li class="more-skills__item">
            <picture class="more-skills__img">
              <source media="(max-width: 1250px)" data-srcset="img/master/mobile/skill5.jpg">
              <source media="(max-width: 1250px)" data-srcset="img/master/desktop/skill5.jpg">
              <img class="lazy" data-src="img/master/skill5.jpg" alt="Мастер-классы фото 5">
            </picture>
            <div class="more-skills__inner">
              <div class="more-skills__datatime">
                <div class="more-skills__date date">
                  <svg class="date__icon" width="14" height="14">
                    <use xlink:href=" img/sprite.svg#calendar"></use>
                  </svg>
                  <p class="date__text">13 июня</p>
                </div>
                <div class="more-skills__time time">
                  <svg class="time__icon" width="12" height="12">
                    <use xlink:href=" img/sprite.svg#time"></use>
                  </svg>
                  <p class="time__text">18:00</p>
                </div>
              </div>
              <h3 class="more-skills__title">Творческая ретушь для начинающих</h3>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

</section>